/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

// +-------------------------------------------------------------------+
// | WiFiDog Authentication Server                                     |
// | =============================                                     |
// |                                                                   |
// | The WiFiDog Authentication Server is part of the WiFiDog captive  |
// | portal suite.                                                     |
// +-------------------------------------------------------------------+
// | PHP version 5 required.                                           |
// +-------------------------------------------------------------------+
// | Homepage:     http://www.wifidog.org/                             |
// | Source Forge: http://sourceforge.net/projects/wifidog/            |
// +-------------------------------------------------------------------+
// | This program is free software; you can redistribute it and/or     |
// | modify it under the terms of the GNU General Public License as    |
// | published by the Free Software Foundation; either version 2 of    |
// | the License, or (at your option) any later version.               |
// |                                                                   |
// | This program is distributed in the hope that it will be useful,   |
// | but WITHOUT ANY WARRANTY; without even the implied warranty of    |
// | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the     |
// | GNU General Public License for more details.                      |
// |                                                                   |
// | You should have received a copy of the GNU General Public License |
// | along with this program; if not, contact:                         |
// |                                                                   |
// | Free Software Foundation           Voice:  +1-617-542-5942        |
// | 59 Temple Place - Suite 330        Fax:    +1-617-542-2652        |
// | Boston, MA  02111-1307,  USA       gnu@gnu.org                    |
// |                                                                   |
// +-------------------------------------------------------------------+

/**
 * @package    WiFiDogAuthServer
 * @subpackage ContentClasses
 * @author     Max Horvath <max.horvath@maxspot.de>
 * @copyright  2005-2006 Max Horvat, maxspot GmbH
 * @version    Subversion $Id$
 * @link       http://www.wifidog.org/
 */

/*
 * Basic Editor IFRAME Styles.
 */

body {
    padding: 1px 1px 1px 1px;
    margin: 0px 0px 0px 0px;
}

#eWysiwygCell, .Source {
    border: #DDDDFF 1px solid;
}

#eSourceField {
    border: none;
    padding: 5px;
    font-family: Monospace;
}

/*
 * Toolbar Styles
 */

.TB_ToolbarSet, .TB_Expand, .TB_Collapse {
    background-color: #FBFBFF;
}

.TB_End {
    display: none;
}

.TB_ExpandImg {
    background-image: url(images/toolbar.expand.gif);
    background-repeat: no-repeat;
}

.TB_CollapseImg {
    background-image: url(images/toolbar.collapse.gif);
    background-repeat: no-repeat;
}

.TB_ToolbarSet {
    padding: 1px;
    border-top: #DDDDFF 1px solid;
    border-right: #DDDDFF 1px solid;
}

.TB_ToolbarSet, .TB_ToolbarSet * {
    font-size: 11px;
    cursor: default;
    font-family: Verdana, Arial, Sans-Serif;
}

.TB_SideBorder {
    background-color: #FBFBFF;
}

.TB_Expand, .TB_Collapse {
    padding: 2px 2px 2px 2px;
    border: 1px solid #DDDDFF;
    border-bottom: 0px;
}

.TB_Collapse {
    border: 1px solid #DDDDFF;
    border-bottom: 0px;
    width: 5px;
}

.TB_Button_On, .TB_Button_Off, .TB_Button_Disabled {
    padding: 1px;
    margin: 1px;
    height: 21px;
}

.TB_Combo_Off, .TB_Combo_Disabled {
    padding: 1px;
    margin: 2px;
    height: 21px;
}

.TB_Button_On, .TB_Button_Off, .TB_Button_Disabled {
    border: #daedd8 1px solid;
}

.TB_Button_On {
    border-color: #46a43a;
    background-color: #daedd8;
}

.TB_Button_Off {
    background-color: #FBFBFF;
}

.TB_Button_Off, .TB_Combo_Off {
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
}

.TB_Button_Disabled, .TB_Combo_Disabled {
    filter: gray() alpha(opacity=30);
    -moz-opacity: 0.30;
}

.TB_Icon DIV {
    width: 21px;
    height: 21px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TB_Text {
    height: 21px;
    padding-right: 5px;
}

.TB_Break {
    height: 23px;
}

/*
 * Local variables:
 * tab-width: 4
 * c-basic-offset: 4
 * c-hanging-comment-ender-p: nil
 * End:
 */
