/* Important note:  You may not assume ANYTHING about the path to images or media
that isn't under this file's theme pack.  In other words, no ../ relative links. */
/********** General HTML section **********/
body {
    margin: 0px;
    padding: 0px;
    font-family:  sans-serif;;
    color: black;
    font-size: 0.8em;
    background-color: #FFF;
}

input {
    border: 1px solid #daedd8;
    padding: 3px;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
}

h1 {
    font-family: verdana, sans-serif;
	color: #666;
    font-size: 1.5em;
}

a {
    font-family: arial, sans-serif;
    color: #616756;
    font-size: 0.8em;
    text-decoration: underline;
}

a:hover {
    font-family: arial, sans-serif;
    color: #88AA4B;
}

input:hover {
    border: 1px solid #46a43a;
}

input:focus {
    border: 1px solid #46a43a;
    filter: alpha(opacity=100);
    -moz-opacity: 1.00;
}

select {
    font-family: arial, sans-serif;
    color: #616756;
    border: 1px solid #C8FF7A;
    background: #C8FF7A;
}

/********** End General HTML section **********/

/********** Main structure section **********/
#page_header {
		padding: 5px 5px 5px 74px;
		background: #f5f5f5 url('images/wifidog_thumbnail_transparent.gif') no-repeat 0px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid #d7d5d5;
	min-height: 60px;
	
}

#page_header h1 {
	margin-top: 5px;

	font-size: 2em;
	color: #999;
}
#page_header h1 em {
	font-size: 1em;
	color: #666;
}

#page_header h1 span {
	display: block;
	font-size: 0.6em;
}
#page_body {
		padding: 0em;
		margin: 0em;
    width: 100%;
    float: left;
}

#page_body h1{
		background: url('images/bullet_box_arrow.gif') no-repeat 0 0px;
		padding-left: 24px;
}	
#left_area {
    width: 25%;
    float: left;
	margin: 0em;
	padding: 0em;
    border: 1px solid #E9E9E9;
}

#left_area_top {
	background: #f5f5f5 url('images/back_header_fade.gif') repeat-x bottom left;
	margin: -1px 1em 1em 1em;
	padding: 0.1em 1em 1em 1em;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #d7d5d5;
	border-left: 1px solid #e7e7e7;
	float: left;
}

#left_area_middle {
	background: #EBFFEB;
	margin: 1em;
	padding: 1em;
	border: 1px solid #C2FFC2;
	float: left;
}

#left_area_bottom {
	background: #F9FFC9;
	margin: 1em;
	padding: 1em;
	border: 1px solid #EFFF72;
	float: left;
}

#main_area {
    width: 74%;
	float: right;
		margin: 0em ;
		padding: 0em;
		border: 1px solid #E9E9E9;
}

* html #main_area {/* Stupid IE hack */
	width: 65%; 
}
#main_area_top {
	background: #f5f5f5 url('images/back_header_fade.gif') repeat-x bottom left;
	margin: -1px 1em 1em 1em;
	padding: 0.1em 1em 1em 1em;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #d7d5d5;
	border-left: 1px solid #e7e7e7;
	float: left;
}

#main_area_middle {
		margin: 1em;
	padding: 1em;
		float: left;
}

#main_area_bottom {
		margin: 1em;
	padding: 1em;
	float: left;
}

#right_area {
}

#right_area_top {
}

#right_area_middle {
}

#right_area_bottom {
}

#page_footer {
}

/********** End Main structure section **********/

/********** Page specific CSS section **********/
.portal {
}

.login {
}

/********** End Page specific CSS section **********/

/********** End Main structure section **********/

div.tool_user_info {
		margin: 0em;
	padding: 0em;
}

span.tool_user_info {
			margin: 0em;
	padding: 0em;
}

div.language{

}

form.language{
    padding: 0.5em 0.5em 0em 0em;
    text-align: right;
}

.tool_content{
    padding: 0px 5px 0px 5px;
}

.tool_content .admin_menu_list {
    list-style-type: square;
    padding: 20px;
    margin: 0px;
}
.tool_content .users_list {
    list-style-type: square;
}
.tool_content .users_list .roles {
    font-size: 8pt;
    font-style: italic;
}
div.avis {
    padding: 20px 10px 10px 10px;
    background-image: url(images/03_avis.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #FDFDFD;
}
span.avis {
    padding-top: 20px;
}
div.anysection {
    padding: 0px 5px 0px 5px;
    font-family: arial, sans-serif;
    color: #616756;
    text-align: left;
}
div.test {
    text-align: center;
    vertical-align: text-top;
}

/* The login form (including header) */
#login_form {
	float: left;
	margin: 1em;
	padding: 0em 1em;
		text-align: center;
}
#login_form form {
    padding-left: 1em;
}

/* The help text for the login form */
#login_help {
   	float: left;
    margin: 1em 1em 1em 4em;
    padding: 0em 1em;
    border: 1px solid #d7d5d5;
}
img.separator {
    display: inline;
    position: relative;
    top: 0px;
    vertical-align: text-top;
}
img.administration {
    vertical-align: middle;
}

a.administration {
    margin: 5px;
    font-family: arial, sans-serif;
    color: #616756;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
a.navigation {
    position: relative;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: arial, sans-serif;
    color: #616756;
    font-size: 11px;
    text-decoration: none;
}
.indent {
    padding-left: 25px;
}



/*********************************************************************/

.clearbr {
	clear: both;
}


.logos {
    float: right;
    text-align: center;
}


/** Messages */

/* Fading Tooltips By Dustin Diaz*/
body div#toolTip {
	position:absolute;
	z-index:1000;
	width:320px;
	background:#000;
/*	border:2px double #fff;*/
	text-align:left;
	padding:5px;
	min-height:1em;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
body div#toolTip p { margin:0;padding:0;color:#fff;font:11px/12px verdana,arial,sans-serif; }
body div#toolTip p em { display:block;margin-top:3px;color:#f60;font-style:normal;font-weight:bold; }
body div#toolTip p em span { font-weight:bold;color:#fff; }

.errormsg {
    font-weight: bold;
    color: red;
}
.warningmsg {
    font-weight: bold;
    color: teal;
}
.successmsg {
    font-weight: bold;
    color: green;
}
.msg {
    font-weight: bold;
    color: black;
}

/* The content container */
.content {
    border: 2px solid gray;
    width:auto;
}

/* The admin container */
.admin_container {
    display: block;
    /*border: 2px solid grey; */
    background-color: white;
    margin: 3px;
    width:auto;
}

 /* The class name of the container */
.admin_class {
    /*float: left;*/
    color:grey;
    border: none;
    display: none;
}

.admin_section_container {
    display: block;
    border: 1px solid #DDDDFF;
    background-color: #FBFBFF;
    margin: 5px;
    width:auto;
}
#NodeSelector select {
    width: 100%;
}
/*.admin_section_title {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;  }
*/
.admin_section_title {
    display: inline;
    font-weight: bold;
}
.admin_section_data {
    display: inline;
}
.admin_section_tools { display: inline;}

.admin_section_list { /* list of elements inside a section */
	display: compact;
}
/*.admin_section_list_item { display: inline; }*/
.admin_section_list_item { display: compact; }
/*.user_ui_main {
	border: 1px solid gray;
	margin: 2px;
	float: left;
	display: inline;
	padding: 2px;
}*/
.admin_section_button {
    border: 1px solid #daedd8;
    margin-left: 2px;
    margin-bottom: -5px;
    padding: 2px;
    padding-top: 1px;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
}
.admin_section_button:hover {
    border : 1px solid #46a43a;
    background-color: #daedd8;
    filter: alpha(opacity=100);
    -moz-opacity: 1.00;
}
.admin_section_button_disabled {
    border: 1px solid #daedd8;
    margin-left: 2px;
    margin-bottom: -5px;
    padding: 2px;
    padding-top: 1px;
    filter: gray() alpha(opacity=30);
    -moz-opacity: 0.30;
}

.generic_object_admin_edit input {
    float: left;
}

/* This is the warning message area ( Alerting the user to validation his account ASAP ) */
#warning_message_area {
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.portal_content {
}
.user_ui_main_outer {
/*	display: inline;*/
    display: block;
}


.user_ui_main_inner {
    display: block;
/*	border: 1px solid gray;*/
    margin: 2px;
    padding: 2px;
}
.user_ui_container {
    display: block;
    	background: #E9F6FF;
	color: #3D586B;
}
.user_ui_title {
    display: block;
    font-size: 1em;
    font-weight: bold;
}
#main_area_middle .user_ui_container {

}
.user_ui_title a {
    font-size: medium;
    font-weight: bold;
}
.user_ui_authors {
    display: block;
    font-weight: bold;
    color: #386b04;
    padding: 5px;
    background: #cafd84;
}
.user_ui_description {
    text-align: justify;
    font-weight: bold;
    border : 1px solid #46a43a;
    background-color : #daedd8;
}
.user_ui_footer {
    display: block;
    padding: 5px;
    background-color: #9d9d9d;
}
.user_ui_picture {
    height: 250px;
}
.user_ui_projet_info {
    background-color: rgb(235, 235, 235);
}
.user_ui_sponsor_info {
    background-color: rgb(235, 235, 235);
}
.list_ui_container {
    display: inline;
}
.download_button {
    padding: 10px 10px 10px 10px;
    background-color: #cafd84;
    color: #336600;
    font-weight: bold;
    border: outset #999999;
}
/* Portal */

#portal_container {
    margin: 3px;
}
.portal_network_section {
/*	background-color:	#CFDCE6;*/
    margin: 3px;
}
.portal_node_section {
/*	background-color:	#CFDCE6;*/
    margin: 3px;
}
.portal_node_section h1, .portal_node_section h1 a {
    font-family: verdana, sans-serif;
    color: #88AA4B;
    font-size: 14px;
}
.portal_network_section h1, .portal_network_section h1 a {
    font-family: verdana, sans-serif;
    color: #88AA4B;
    font-size: 1.2em;
}
.portal_user_section {
/*	background-color:	#CFDCE6;*/
    margin: 3px;
}
.portal_section_title, .portal_section_title a {
    font-size: medium;
}
.portal_section_logo {
    padding: 2px;
    display: inline;
}

/********** Content type section **********/

.langstring {
    text-align: justify;
}
.flickr_photo {
    background: url(images/flickr_shadowAlpha.png) no-repeat bottom right !important;
    background: url(images/flickr_shadow.gif) no-repeat bottom right;
    margin: 10px 0 0 10px !important;
    margin: 10px 0 0 5px;
}
.flickr_photo img {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    margin: -6px 6px 6px -6px;
    padding: 4px;
}
.flickr_photo img:hover {
    display: block;
    position: relative;
    background-color: #fff;
    border: 2px solid #CCCCCC;
    margin: -6px 6px 6px -6px;
    padding: 3px;
}
.flickr_photo_hover {
    display: none;
}
.flickr_title {
    color: white;
    width: 200px;
    background: #696969;
}
.flickr_title a {
    color: white;
}
.flickr_title h3 {
    color: white;
    padding: 5px;
    margin: 0;
}
.flickr_tags {
    visibility: hidden;
    background-color: #696969;
    color: white;
    width: 140px;
}
.flickr_tags h3 {
    padding-left: 5px;
    margin: 0;
}
.flickr_tags ul {
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
}
.flickr_tags li {
    list-style: none;
    list-style-image: none;
}
.flickr_tags li a {
    color: white;
    /* font-size: normal; - invalid? */
    text-decoration: none;
}
.flickr_tags li a:hover {
    text-decoration: underline;
}
.flickr_description {
    color: white;
    width: 200px;
    background: #696969;
}
.flickr_description a {
    color: white;
    text-decoration: underline;
}
.pattern_language_menu {
    list-style-type: square;
}
.pattern_language_big_links {
    font-family: verdana, sans-serif;
    color: #88AA4B;
    font-size: medium;
    font-weight: bold;
}
.pattern_language_big_links:hover {
    font-family: verdana, sans-serif;
    color: #88AA4B;
    font-size: medium;
    font-weight: bold;
}
.pattern_language_body {
    border: outset #999999;
    background: #fafff3;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}
.pattern_language_credits {
    border: 1px solid #999999;
    background: #fafff3;
    margin: 5px;
    padding: 5px;
}

table.content_admin {
    margin-top: 5px;
    border: 1px solid grey;
}
table.content_admin th {
    background-color: lightgrey;
}
table.content_admin td {
    border: 1px solid grey;
}

/********** End Content type section **********/



.popup { background-color: white;   border: solid darkblue    ; text-align:left}
.link     { color: blue; text-decoration: underline }

#node_list { }
#node_list table { background-color: #b1d5ba; border-collapse: collapse; width: 100%; }
#node_list tr { background-color: #e1f5da; border: 1px solid; }
#node_list tr.even { background-color: #e1f5da; }
#node_list tr.odd { background-color: #b1d5ba; }
#node_list td { margin: 0 0 0 0; text-align: center; color: #000000; }
#node_list td.status { width: 15em; text-align: left; font-size: 9pt; }
#node_list a { color: #000000; }

#hotspot_status { }
#hotspot_status table { background-color: #b1d5ba; border-collapse: collapse; width: 100%; }
#hotspot_status tr { vertical-align: top; font-size: 10pt; font-family: Arial; background-color: #e1f5da; border: 1px solid; }
#hotspot_status tr.even { background-color: #e1f5da; }
#hotspot_status tr.odd { background-color: #b1d5ba; }
#hotspot_status td { margin: 0 0 0 0; color: #000000; }
#hotspot_status a { color: #000000; }

#hotspot_log { margin: 1em; }
#hotspot_log table { background-color: #b1d5ba; border-collapse: collapse; }
#hotspot_log th { background-color: #e1f5da; border: 1px solid; text-align: left; }
#hotspot_log tr { background-color: #ffffff; border: 1px solid; }
#hotspot_log td { margin: 0 0 0 0; color: #000000; }
#hotspot_log td.status { width: 15em; text-align: left; font-size: 9pt; }
#hotspot_log a { color: #000000; }

#user_stats { }
#user_stats table { background-color: #b1d5ba; border-collapse: collapse; }
#user_stats th { background-color: #e1f5da; border: 1px solid; }
#user_stats tr { background-color: #ffffff; border: 1px solid; }
#user_stats td { margin: 0 0 0 0; color: #000000; }
#user_stats td.status { width: 15em; text-align: left; font-size: 9pt; }
#user_stats a { color: #000000; }

#std_table { }
#std_table table { border: 1px solid gray; }
#std_table th { font-size: 14pt; background-color: #e1f5da;}
#std_table td.item { font-weight: bold; }

fieldset {
    background-color: #f5f5f5;
    border: 1px solid #d7d5d5;
}
fieldset legend {
    font-size: 1em;
    font-weight: bold;
}
fieldset table {
    width: 100%;
    border-collapse: collapse;
}
fieldset tr.odd {
    background-color: #fff;
}
fieldset th {
    text-align: left;
    /*text-transform: uppercase;*/
}

fieldset a {
}

fieldset .red {
    background-color: red;
}

.smaller {
    font-size: 80%;
}

/********** Google map section **********/

#map_title {
    background-color: #ffeac0;
    border: 1px solid #ff9900;
    padding: 5px;
    font: 14pt "Arial",sans-serif;
    font-weight: bold;
}
#map_toolbox {
    display: inline;
    float: right;
}
#map_postalcode_overlay {
    display: none;
    background-color: #ffeac0;
    border: 1px solid #ff9900;
    padding: 10px;
    font: 10pt "Arial",sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 10;
}
#map_legend {
    background-color: #ffeac0;
    border: 1px solid #ff9900;
    padding: 5px;
    font: 10pt "Arial",sans-serif;
    vertical-align: middle;
}
#map_outer_hotspots_list {
    background-color: #ffffff;
    width: 33%;
    height: 500px;
    overflow: auto;
    float: right;
}
#map_hotspots_list {
    padding: 10px;
}
#map_frame {
    font: 10pt "Arial",sans-serif;
    width: 66%;
    height: 500px;
}
/********** End Google map section **********/

/********** Scrollable Table Section ********/
#node_list_div {
	background: inherit;
	overflow: auto;
	height: 400px;
	width: 97%;
	min-width: 500px;
	text-align: center;
	border: 1px solid blue;
}
#node_list_div table.scrollable>tbody {
	/* child selector syntax which IE6 and older do not support */
	overflow: auto;
	height: 378px;
	width: 100%;
}
\html div.tableContainer table/* */ {
	margin: 0 -16px 0 0
}
\html div.tableContainer/* */ {
	padding: 0 16px 0 0;
}
table.scrollable thead tr {
	position: relative;
}
html>body thead tr {
	width: 100%;
}
table.scrollable {
    width: 99%;
    border-collapse: collapse;
    border-spacing: 0px;
}
table.scrollable thead th {
    display:inline-block;
    font-weight: bold;
    text-align: center;
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    background-color: #CCC;
    color: #000099;
    width: 200px;
}
table.scrollable tr.row:hover,tr.hover{
	background-color: #2175bc;
	color: #ff0000;
}
table.scrollable tr {
	cursor: pointer;
}
table.scrollable td {
    color: #000000;
    padding-left: 5px;
    font-size: 12px;
    text-align: left;
}
table.scrollable thead td:last-child { padding-right: 25px; }

table.scrollable thead th:last-child { padding-right: 25px; }

/******* End Scrollable Table Section ********/

/********** Sortable Table Section ***********/

table.sortable a.sortheader {
    background-color:#CCC;
    color:#000099;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
table.sortable tr.odd {
	background-color: #eee;
}
table.sortable tr.even {
	background-color: #fff;
}


/****** End Sortable Table Section ***********/
