/* Important note:  You may not assume ANYTHING about the path to images or media
that isn't under this file's theme pack.  In other words, no ../ relative links. */
/********** General HTML elements redefinition section **********/
body {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Grande", "Verdana", sans-serif;
    color: black;
    font-size: 0.8em;
    background-color: #FFF;
}

a {
    color: #616756;
    font-size: 0.8em;
    text-decoration: underline;
}

img {
	border: none;
}

a:hover {
    color: #88AA4B;
}

h1 {
	color: #666;
    font-size: 1.5em;
}

input {
    border: 1px solid #aaa;
}
input:hover {
    border: 1px solid #70cb70;
}

input:focus {
    border: 1px solid #70cb70;
}

select {
    color: #666;
    border: 1px solid #70cb70;
    background: #EBFFEB;
}

/********** End General HTML elements redefinitionsection **********/

/********** Main structure section **********/
#page_header {
	padding: 5px 5px 5px 74px;
	background: #f5f5f5 url('images/wifidog_thumbnail_transparent.gif') no-repeat 0px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid #d7d5d5;
	min-height: 60px;
}
#page_header .welcome_msg {
}

#page_header .welcome_msg_inner {
	margin-top: 5px;
	font-size: 2em;
	color: #999;
	font-weight: bold;
}
#page_header .welcome_msg_inner em {
	font-size: 1em;
	color: #666;
}

#page_header .welcome_msg_inner span {
	display: block;
	font-size: 0.6em;
}
#page_body {
	padding: 0em;
	margin: 0em;
    width: 100%;
    float: left;
}

#page_body h1{
		background: url('images/bullet_box_arrow.gif') no-repeat 0 0px;
		padding-left: 24px;
}
#left_area {
    width: 25%;
    float: left;
	margin: 0em;
	padding: 0em;
}

#left_area_top {
	position: relative;
	width: 90%;
	background: #f5f5f5 url('images/back_header_fade.gif') repeat-x bottom left;
	margin: -1px 1em 1em 1em;
	padding: 0.1em 1em 1em 1em;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #d7d5d5;
	border-left: 1px solid #e7e7e7;
	float: left;
}

#left_area_middle {
	position: relative;
	width: 90%;
	background: #EBFFEB;
	margin: 1em;
	padding: 1em;
	border: 1px solid #C2FFC2;
	float: left;
}

#left_area_middle ul {
	margin: 0 0 0 1em;
	padding: 0 0 0 1em;
	text-align: left;
}

#left_area_bottom {
	position: relative;
	width: 90%;
	background: #F9FFC9;
	margin: 1em;
	padding: 1em;
	border: 1px solid #EFFF72;
	float: left;
}

#left_area_bottom .user_ui_main_outer {
	background: transparent;
	border: none;
	color: #000000;
}

#main_area {
    width: 74%;
	float: right;
	margin: 0;
	padding: 0;
	/*border: 1px solid #E9E9E9;*/
}

* html #main_area {/* Stupid IE hack */
	width: 63%;
		margin: 0;
	padding: 0;
}
#main_area_top {
	background: #f5f5f5 url('images/back_header_fade.gif') repeat-x bottom left;
	margin: -1px 1em 1em 1em;
	padding: 0.1em 1em 1em 1em;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #d7d5d5;
	border-left: 1px solid #e7e7e7;
	float: left;
}

#main_area_middle {
	position: relative;
	width: 90%;
	margin: 1em;
	padding: 0;
	float: left;
}

#main_area_bottom {
	position: relative;
	width: 90%;
	margin: 1em;
	padding: 0;
	float: left;
}

#right_area {
}

#right_area_top {
}

#right_area_middle {
}

#right_area_bottom {
}

#page_footer {
}

/********** End Main structure section **********/

/********** Page specific CSS section **********/
.portal {
}

.login {
}

/********** End Page specific CSS section **********/

/********** End Main structure section **********/

div.tool_user_info {
	margin: 0;
	padding: 0;
}

div.language{

}

form.language{
    padding: 0.5em 0.5em 0em 0em;
    text-align: right;
}

.tool_content{
    padding: 0px 5px 0px 5px;
}

div.avis {
    padding: 20px 10px 10px 10px;
    background-image: url(images/03_avis.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #FDFDFD;
}
span.avis {
    padding-top: 20px;
}
div.anysection {
    padding: 0px 5px 0px 5px;
    color: #616756;
    text-align: left;
}
div.test {
    text-align: center;
    vertical-align: text-top;
}

/* The login form (including header) */
#login_form {
	float: left;
/*	margin: 1em;
	padding: 0em 1em;*/
	text-align: center;
}
#login_form form {
    padding-left: 1em;
}

/* The help text for the login form */
#login_help {
   	float: left;
    margin: 1em 1em 1em 4em;
    padding: 0em 1em;
    border: 1px solid #d7d5d5;
}

#logout_link IMG {
    vertical-align: middle;
}

#preferences_link IMG {
    vertical-align: middle;
}

a.navigation {
    position: relative;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #616756;
    font-size: 11px;
    text-decoration: none;
}


/*********************************************************************/

.clearbr {
	clear: both;
}

/** Messages */

/* Fading Tooltips By Dustin Diaz*/
body div#toolTip {
	position:absolute;
	z-index:1000;
	width:320px;
	background:#000;
	text-align:left;
	padding:5px;
	min-height:1em;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
body div#toolTip p { margin:0;padding:0;color:#fff;font-size:12px; }
body div#toolTip p em { display:block;margin-top:3px;color:#f60;font-style:normal;font-weight:bold; }
body div#toolTip p em span { font-weight:bold;color:#fff; }

.errormsg {
    font-weight: bold;
    color: #CC0000;
}
.warningmsg {
    font-weight: bold;
    color: orange;
}
.successmsg {
    font-weight: bold;
    color: #00CC00;
}
.msg {
    font-weight: bold;
    color: black;
}

/* The content container */
.content {
    border: 2px solid gray;
    width:auto;
}

/********** generic object admin interface **********/
/* Fieldset, wraps every output of displyAdminUI.
All admin_container are also admin_element_group (to ensure that
 nesting will be explicit) and include the classname of the object as
 the object class (such as 'Langstring')*/
.admin_container {
    border-left: 2px solid #DDDDFF;
    border-top: 2px solid #DDDDFF;
    border-bottom: 2px solid #DDDDFF;
}

/* noramlly a fieldset, logically wraps groups of related
options.*/
.admin_element_group
{
    border-left: 2px dotted #DDDDFF;
    border-top: 2px dotted #DDDDFF;
    border-bottom: 2px dotted #DDDDFF;
	}

.admin_container, .admin_element_group{
	display: block;
    border-right: none;
    background-color: white;
    margin: 0.1em 0px 0.1em 0.1em;
    padding-right: 0px;
    width:auto;
    }

fieldset.admin_container legend {
	font-size: 1.2em;
}

/* Contains a list of administrative properties of an object */
.admin_element_list {
	/*background-color: red;*/
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
}

/* Contains an administrative property (possibly a complex, nested one) of an object */
.admin_element_item_container {
    /*background-color: lightblue;*/
    margin: 0.1em 0em 0.1em 0.1em;
    padding: 0em;
    width:auto;
}
li.admin_element_item_container {
        display: block;
}
tr.admin_element_item_container {
}
/* The label of the admin element. Optional */
.admin_element_label {
    font-weight: bold;
}
div.admin_element_label {
	display: inline;
}
td.admin_element_label, th.admin_element_label {
}

/* The actual admin element data.  Can contain another admin_element_group */
div.admin_element_data {
	display: inline;
}
td.admin_element_data, th.admin_element_data {
}

/* Interaction elements (buttons mostly) are in this container.  Optional */
.admin_element_tools {
 border: 0px;
 margin: 0px;
 }
 div.admin_element_tools {
	display: inline;
}
td.admin_element_tools, th.admin_element_tools {
}
 /* Get it touching the border to the admin container it's relevant for */
.admin_element_tools .submit
{
    border: 2px solid #DDDDFF;
    margin:-0.2em 0em 0.1em 0.1em;
}
.submit {
    border: 2px solid #daedd8;
}
.submit:hover {
    border : 2px solid #46a43a;
    background-color: #daedd8;
}
.submit_disabled {
    border: 2px solid #daedd8;
}

/********** End generic object admin interface **********/
.user_select_user_ui_container div
{
	display: inline;
	}

.user_select_user_ui_container .submit
{
	display: inline;
	}
.content_management_tools {
	border: 1px solid #DDDDFF;
    background-color: #FBFBFF;
}

/** Content management tools */
.content_management_tools th {
	background-color: #444;
	color: #FFFFFF;
	text-align: center;
}

.already_linked_content {
}

.add_existing_content {
	font-weight: bold;
}

.add_new_content {
	font-weight: bold;
}


#NodeSelector select {
    width: 100%;
}
.generic_object_admin_edit input {
    float: left;
}

/* This is the warning message area ( Alerting the user to validation his account ASAP ) */
#warning_message_area {
    background-color: #CC0000;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.user_ui_main_outer {
/*	display: inline;*/
    display: block;
	color: #3D586B;
    background: none;
	border: none;
	margin: 1em;
    padding: 0em;
    width: 100%;/* Will this fuck up in explorer? */
}

.user_ui_main_outer .user_ui_main_outer {
/*	display: inline;*/
	margin: 0em;
    padding: 0em;

}

.hasDisplayableMetadata{/*Defined at same level as user_ui_main_outer*/
	background: #E9F6FF;
	border: 1px solid #B4DFFF;
	margin: 1em;
    padding: 0.2em;
}

.user_ui_title .user_ui_main_outer,
.user_ui_description .user_ui_main_outer {
    margin: 0em;
    padding: 0em;
    border: none;
}

.user_ui_main_inner {
    display: block;
/*	border: 1px solid gray;*/


}
.user_ui_container {
    display: block;
    margin: 0em;
    padding: 0em;

}
.user_ui_title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 0em;
    padding: 0em;
}

.user_ui_title a {
    font-size: medium;
    font-weight: bold;

}
.user_ui_authors {
    display: block;
    font-weight: bold;
    color: #386b04;
    padding: 5px;
    background: #cafd84;
        margin: 0em;
    padding: 0em;
}
.user_ui_description {
    text-align: justify;
    font-weight: bold;
    margin: 0em;
    padding: 0.5em;
}

.user_ui_footer {
    display: block;
    padding: 5px;
    background-color: #9d9d9d;
}
.user_ui_picture {
    height: 250px;
}
.user_ui_projet_info {
    background-color: rgb(235, 235, 235);
}
.list_ui_container {
    display: inline;
}
.download_button {
    padding: 10px 10px 10px 10px;
    background-color: #cafd84;
    color: #336600;
    font-weight: bold;
    border: outset #999999;
}
/* Portal */

#portal_container {
    margin: 3px;
}
.portal_network_section {
/*	background-color:	#CFDCE6;*/
    margin: 3px;
}
.portal_node_section {
/*	background-color:	#CFDCE6;*/
    margin: 3px;
}
.portal_node_section h1, .portal_node_section h1 a {
    color: #88AA4B;
    font-size: 14px;
}
.portal_network_section h1, .portal_network_section h1 a {
    color: #88AA4B;
    font-size: 1.2em;
}
.portal_user_section {
/*	background-color:	#CFDCE6;*/
    margin: 3px;
}
.portal_section_title, .portal_section_title a {
    font-size: medium;
}
.portal_section_logo {
    padding: 2px;
    display: inline;
}

/********** Content type section **********/

/* UIUserList */
.UIUserList ul {
    list-style-type: none;
}

.langstring {
    text-align: justify;
}

/* RssAggregator */
.fpr_item_title {
	display: inline;
	}
.fpr_feed_title {
	display: inline;
	}
.fpr_title_date {
	font-weight: lighter;
	}
.fpr_title_str  {
	display: inline;
	font-size: 1.3em;
	color: #000000;
	}
.fpr_item_title .fpr_title_str  {
	 }
.fpr_list {
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
	}
.fpr_item {
	list-style-type: none;
	display: block;
	}
fpr_empty_feeds {
	}
.fpr_mouseover {
	display: inline
	}
.fpr_item_link {
	/*font-size: 1.0em;*/
	color: #003399;
	}
.fpr_expand_switch {
	text-decoration: none;
	}
.fpr_popup_inner_div {
	padding: 0.5em;
	visibility: hidden;
	position: absolute;
	left: 0em;
	top: 0em;
	width: 100%;
	z-index: 100;
	opacity: 0.90; filter: alpha(opacity=90);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #EBFFEB;
	color: #000000;
	border: 1px solid #C2FFC2;
	}
.fpr_popup_inner_div_expanded {
	margin:  0em 0em 0.5em 0.5em;
	padding: 0.5em;
	/* Color of background around the text: #E9F6FF */
	border-top: 1px solid #F4FAFF;
	border-right: 1px solid #B4DFFF;
	border-bottom: 1px solid #B4DFFF;
	border-left: 1px solid #F4FAFF;
	color: #000000;
	background-color: #FFFFFF;
	}
.fpr_popup_outer_div {
	position: relative;
	}
.fpr_feed_image {
	float: right;
	}
	.fpr_text {
	display: block;
	}
.fpr_text P {
	}
.fpr_text img {
	float:right;
	}
.fpr_enclosure {
	max-width: 320px;
	max-height: 240px;
	display: inline;
	float:right;
	}
.fpr_enclosure_inner {
	display: block;
	}
.fpr_clear {
	clear: right;
	}
.fpr_enclosure_download {
	text-align: center;
	}
.fpr_item_metadata {
	float:right;
	}


.flickr_photo {
    background: url(images/flickr_shadowAlpha.png) no-repeat bottom right !important;
    background: url(images/flickr_shadow.gif) no-repeat bottom right;
    margin: 10px 0 0 10px !important;
    margin: 10px 0 0 5px;
}
.flickr_photo img {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    margin: -6px 6px 6px -6px;
    padding: 4px;
}
.flickr_photo img:hover {
    display: block;
    position: relative;
    background-color: #fff;
    border: 2px solid #CCCCCC;
    margin: -6px 6px 6px -6px;
    padding: 3px;
}
.flickr_photo_hover {
    display: none;
}
.flickr_title {
    color: white;
    width: 200px;
    background: #696969;
}
.flickr_title a {
    color: white;
}
.flickr_title h3 {
    color: white;
    padding: 5px;
    margin: 0;
}
.flickr_tags {
    visibility: hidden;
    background-color: #696969;
    color: white;
    width: 140px;
}
.flickr_tags h3 {
    padding-left: 5px;
    margin: 0;
}
.flickr_tags ul {
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
}
.flickr_tags li {
    list-style: none;
    list-style-image: none;
}
.flickr_tags li a {
    color: white;
    /* font-size: normal; - invalid? */
    text-decoration: none;
}
.flickr_tags li a:hover {
    text-decoration: underline;
}
.flickr_description {
    color: white;
    width: 200px;
    background: #696969;
}
.flickr_description a {
    color: white;
    text-decoration: underline;
}
.pattern_language_menu {
    list-style-type: square;
}
.pattern_language_big_links {
    color: #88AA4B;
    font-size: medium;
    font-weight: bold;
}
.pattern_language_big_links:hover {
    color: #88AA4B;
    font-size: medium;
    font-weight: bold;
}
.pattern_language_body {
    border: outset #999999;
    background: #fafff3;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}
.pattern_language_credits {
    border: 1px solid #999999;
    background: #fafff3;
    margin: 5px;
    padding: 5px;
}

/* Shoutbox */
.ShoutBox .message {
    display: inline;
}
.ShoutBox ul {
    list-style-type: none;
    padding-left: 0.5em;
}

table.content_admin {
    margin-top: 5px;
    border: 1px solid grey;
}
table.content_admin th {
    background-color: lightgrey;
}
table.content_admin td {
    border: 1px solid grey;
}

.Avatar {
	display: inline;
		vertical-align: middle;
}
.Avatar div{
	display: inline;
}

.Avatar img{
	max-width: 40px;
	max-height: 40px;
	margin: 0 3px 0 0;
	padding: 0 0 0 0;
}

.Profile .Avatar img{
	float: left;
}
.user_nickname {
	font-size: 1.25em;
	font-weight: bold;
}

.user_edit_profile_link {
	display: inline;
	}

.user_ui_profile_field {
}

.profile_field_label {
	font-size: 1.25em;
	font-weight: bold;
	display:inline;
	margin: 0em;
	padding: 0em;
	}
.foaf\:nick .profile_field_label{
	display: none;
}
.foaf\:name .profile_field_label{
	display: none;
}
.foaf\:img .profile_field_label{
	display: none;
}
.profile_field_label div{
	margin: 0em;
	padding: 0em;
	}

.profile_field_label div{
	display: inline;
	}
.profile_field_content {
	display: inline;
}
.foaf\:nick .profile_field_content{
	font-size: 1.25em;
	font-weight: bold;
}
.foaf\:name .profile_field_content{
	font-size: 1.25em;
	font-weight: bold;
}
.profile_field_content div{
		display:inline;
}
/********** End Content type section **********/



.popup { background-color: white;   border: solid darkblue    ; text-align:left}
.link     { color: blue; text-decoration: underline }

#node_list { }
#node_list table { background-color: #b1d5ba; border-collapse: collapse; width: 100%; }
#node_list tr { background-color: #e1f5da; border: 1px solid; }
#node_list tr.even { background-color: #e1f5da; }
#node_list tr.odd { background-color: #b1d5ba; }
#node_list td { margin: 0 0 0 0; text-align: center; color: #000000; }
#node_list td.status { width: 15em; text-align: left; font-size: 9pt; }
#node_list a { color: #000000; }

#hotspot_status { }
#hotspot_status table { background-color: #b1d5ba; border-collapse: collapse; width: 100%; }
#hotspot_status tr { vertical-align: top; font-size: 10pt; font-family: Arial; background-color: #e1f5da; border: 1px solid; }
#hotspot_status tr.even { background-color: #e1f5da; }
#hotspot_status tr.odd { background-color: #b1d5ba; }
#hotspot_status td { margin: 0 0 0 0; color: #000000; }
#hotspot_status a { color: #000000; }

#hotspot_log { margin: 1em; }
#hotspot_log table { background-color: #b1d5ba; border-collapse: collapse; }
#hotspot_log th { background-color: #e1f5da; border: 1px solid; text-align: left; }
#hotspot_log tr { background-color: #ffffff; border: 1px solid; }
#hotspot_log td { margin: 0 0 0 0; color: #000000; }
#hotspot_log td.status { width: 15em; text-align: left; font-size: 9pt; }
#hotspot_log a { color: #000000; }

#user_stats { }
#user_stats table { background-color: #b1d5ba; border-collapse: collapse; }
#user_stats th { background-color: #e1f5da; border: 1px solid; }
#user_stats tr { background-color: #ffffff; border: 1px solid; }
#user_stats td { margin: 0 0 0 0; color: #000000; }
#user_stats td.status { width: 15em; text-align: left; font-size: 9pt; }
#user_stats a { color: #000000; }

#std_table { }
#std_table table { border: 1px solid gray; }
#std_table th { font-size: 14pt; background-color: #e1f5da;}
#std_table td.item { font-weight: bold; }

fieldset {
	background-color: #E9F6FF;
    border: 1px solid #B4DFFF;
}
fieldset legend {
    color: #37678A;
    font-size: 1em;
    font-weight: bold;
}
fieldset table {
    width: 100%;
    border-collapse: collapse;
}
fieldset tr.odd {
    background-color: #fff;
}
fieldset th {
    text-align: left;
}

fieldset .red {
    background-color: #CC0000;
}

.smaller {
    font-size: 80%;
}

/********** Google map section **********/

#map_title {
    background-color: #E9F6FF;
    border: 1px solid #B4DFFF;
    margin-top: 5px;
    padding: 5px;
    font-size: 14pt;
    color: #37678A;
    font-weight: bold;
}
#map_toolbox {
    display: inline;
    float: right;
}
#map_postalcode_overlay {
	position: absolute;
    display: none;
    z-index: 10;
    background-color: #E9F6FF;
    border: 1px solid #B4DFFF;
    padding: 10px;
    font-size: 10pt;
    font-weight: bold;
}
#map_legend {
    background-color: #E9F6FF;
    border: 1px solid #B4DFFF;
    padding: 5px;
    font-size: 10pt;
    color: #37678A;
    vertical-align: middle;
}
#map_outer_hotspots_list {
	position: relative;
	width: 33%;
    height: 500px;
    background-color: #FFFFFF;
    overflow: auto;
    float: right;
}
#map_hotspots_list {
    padding: 10px;
}
#map_frame {
	position: relative;
	width: 66%;
    height: 500px;
    font-size: 10pt;
}
/********** End Google map section **********/

/********** Scrollable Table Section ********/
#node_list_div {
	background: inherit;
	overflow: auto;
	height: 400px;
	width: 97%;
	min-width: 500px;
	text-align: center;
	border: 1px solid blue;
}
#node_list_div table.scrollable>tbody {
	/* child selector syntax which IE6 and older do not support */
	overflow: auto;
	height: 378px;
	width: 100%;
}
\html div.tableContainer table/* */ {
	margin: 0 -16px 0 0
}
\html div.tableContainer/* */ {
	padding: 0 16px 0 0;
}
table.scrollable thead tr {
	position: relative;
}
html>body thead tr {
	width: 100%;
}
table.scrollable {
    width: 99%;
    border-collapse: collapse;
    border-spacing: 0px;
}
table.scrollable thead th {
    font-weight: bold;
    text-align: center;
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    background-color: #CCC;
    color: #000099;
    width: 200px;
}
table.scrollable tr.row:hover,tr.hover{
	background-color: #2175bc;
	color: #ff0000;
}
table.scrollable tr {
	cursor: pointer;
}
table.scrollable td {
    color: #000000;
    padding-left: 5px;
    font-size: 12px;
    text-align: left;
}
table.scrollable thead td:last-child { padding-right: 25px; }

table.scrollable thead th:last-child { padding-right: 25px; }

/******* End Scrollable Table Section ********/

/********** Sortable Table Section ***********/

table.sortable a.sortheader {
    background-color:#CCC;
    color:#000099;
    font-weight: bold;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
table.sortable tr.odd {
	background-color: #eee;
}
table.sortable tr.even {
	background-color: #fff;
}


/****** End Sortable Table Section ***********/
