{section name=node loop=$nodes}
<div id="hotspot_log">
<table>
<caption><h3>Node {$nodes[node].node_id}: {$nodes[node].name}</h3></caption>
<tr>
	<th>Status</th>
	<td>
	{if $nodes[node].is_up == 't'}
	ONLINE! <img src='{$smarty.const.BASE_URL_PATH}images/hotspot_status_up.png'>
	{else}
	OFFLINE. <img src='{$smarty.const.BASE_URL_PATH}images/hotspot_status_down.png'>
	{$nodes[node].duration.days} days {$nodes[node].duration.hours} hours {$nodes[node].duration.minutes} min
	{/if}
	</td>
</tr>
<tr>
	<th>IP Address</th>
	<td>{$nodes[node].last_heartbeat_ip}</td>
</tr>
<tr>
	<th>Local content demo</th>
	<td>
	<a href="{$smarty.const.BASE_SSL_PATH}login/index.php?gw_id={$nodes[node].node_id}&gw_address=127.0.0.1&gw_port=80">Login page</a>
	<br />
	<a href="{$smarty.const.BASE_URL_PATH}portal/index.php?gw_id={$nodes[node].node_id}">Portal page</a>
	</td>
</tr>
<tr>
	<th>Opened on</th>
	<td>{$nodes[node].creation_date}</td>
</tr>
<tr>
	<th>Successful connections<br />(successful means with data actually transferred)</th>
	<td>
	Currently online: {$nodes[node].num_online_users}<br />
	Cumulative: {$nodes[node].cumulative}<br />
	First: {$nodes[node].first}<br />
	Last: {$nodes[node].last}
	</td>
</tr>
<tr>
	<th>Unique users (successfull connections only)</th>
	<td>
	Total: {$nodes[node].total}<br />
	Average: {$nodes[node].average} per day<br/>
	Monthly visits:<br />

	{section name=month loop=$nodes[node].monthly_visits}
	{$nodes[node].monthly_visits[month].month}: {$nodes[node].monthly_visits[month].visits} visits<br />
	{/section}
	</td>
</tr>
<tr>
    <th>Busiest times<br />Repeat connection from users are counted</th>
    <td>
    <table>
    <thead>
    <tr>
	    <th colspan="2">Hour of the day</th>
    </tr>
    <tr>
	    <th>Start hour</th>
	    <th>Number of connections</th>
    </tr>
    </thead>

    {section name=hour loop=$nodes[node].hourly_visits}
    <tr>
        <td>{$nodes[node].hourly_visits[hour].hour}</td>
        <td>{$nodes[node].hourly_visits[hour].visits}</td>
    </tr>
    {/section}

    </table>
	
    <table>
    <thead>
	<tr>
		<th colspan="2">Day of the week (0 is sunday)</th>
	</tr>
	<tr>
		<th>Start day</th>
		<th>Number of connections</th>
	</tr>
    </thead>
    {section name=day loop=$nodes[node].daily_visits}
    <tr>
    	<td>{$nodes[node].daily_visits[day].day}</td>
    	<td>{$nodes[node].daily_visits[day].visits}</td>
    </tr>
    {/section}
    </table>
    </td>
</tr>
<tr>
	<th>Cumulative network traffic</th>
	<td>{$nodes[node].network_in} MB in / {$nodes[node].network_out} MB out</td>
</tr>
			
</table>
</div>
{/section}

<div id="hotspot_log">
<table>
<thead>
<tr>
	<th colspan=5>Cumulative network statistics</th>
</tr>
<tr>
	<th>First successfull connection</th>
	<td>{$first_connection}</td>
</tr>
<tr>
	<th>Total number of unique successfull connections</th>
	<td>{$total_unique_success}</td>
</tr>
<tr>
	<th>Total number of unique users (successfull connections only)</th>
	<td>{$total_unique_users}</td>
</tr>
<tr>
	<th>Network traffic</th>
	<td>{$total_network_in} MB in / {$total_network_out} MB out</td>
</tr>
			
</table>

</div>