{include file="templates/header.html" title="Hotspot administration"}

<b style="position: absolute;top: 10px;right: 10px;">({$user_id})</b> <!-- DEBUG -->

<form method="post" name="auth">

<table id="node_list">
<thead>
<tr>
    <th colspan="6">{"Configurations of all nodes of the"|_} {$smarty.const.HOTSPOT_NETWORK_NAME} {"network"|_}</th> 
</tr>
<tr>
    <th >{"Id"|_}</th>
    <th >{"Name"|_}</th>
    <th >{"Opened on"|_}</th>
    <th >{"Action"|_}</th>
</tr>
</thead>

{section name=node loop=$nodes}
<tr>
    <td >{$nodes[node].node_id}</td>
    <td >{$nodes[node].name}</td>
    <td >{$nodes[node].creation_date}</td>
    <td >
        <a href="{$smarty.const.BASE_SSL_PATH}admin/hotspot.php?node_id={$nodes[node].node_id}&action=edit_node"><input type="button" value="{"Edit"|_}"></a>&nbsp;
        <a href="{$smarty.const.BASE_SSL_PATH}admin/hotspot_owner.php?node_id={$nodes[node].node_id}"><input type="button" value="{"Owner"|_}"></a>&nbsp;
        <a href="{$smarty.const.BASE_SSL_PATH}admin/hotspot.php?node_id={$nodes[node].node_id}&action=del_node"><input type="button" value="{"Delete"|_}" onclick="javascript: return confirm('Are you sure you want to delete {$nodes[node].name} ?');"></a>
    </td>
</tr>
{/section}

<tr>
    <td colspan="4">
      &nbsp;<a href="{$smarty.const.BASE_SSL_PATH}admin/hotspot.php?node_id=new&action=add_node"><input type="button" value="{"Add a new node"|_}"></a>
    </td>
</tr>
</table>

</form>

<p class="warning">{$error_message}</p>

{include file="templates/footer.html"}
