{include file="templates/header.html"}

<ul>
<li><a href='user_log.php'>{"User logs"|_}</a></li>
<li><a href='online_users.php'>{"Online Users"|_}</a></li>
<li><a href='user_stats.php'>{"Cumulative user statistics"|_}</a></li>
<li><a href='hotspot_log.php'>{"Hotspot logs"|_}</a></li>
<li><a href='import_user_database.php'>{"Import NoCat user database"|_}</a></li>
<li><a href='hotspot.php'>{"Hotspot creation and configuration"|_}</a> - Beta</li>
<li><a href='owner_sendfiles.php'>{"Hotspot owner administration"|_}</a> - Beta</li>
<li><a href='content_admin.php'>{"Content administration"|_}</a> - Beta</li>
</ul>

{include file="templates/footer.html"}
