{include file="templates/header.html"}

{"For now, you need to be logged in at a hotspot or to fake a login from one of the HotSpot login pages to have your administrative clearance recognised."|_}
<ul>
<li><a href='user_log.php'>{"User logs"|_}</a></li>
<li><a href='user_stats.php'>{"Cumulative user statistics"|_}</a></li>
<li><a href='hotspot_log.php'>{"Hotspot logs"|_}</a></li>
<li><a href='import_user_database.php'>{"Import NoCat user database"|_}</a></li>
</ul>

{include file="templates/footer.html"}
