{if $error}
	<div id="help">
	{$error}
	</div>
{else}

<fieldset class='pretty_fieldset'>
<legend>Online users</legend>
<table>

<thead>
<tr>
  <th>Node</th>
  <th>Username</th>
  <th>Origin</th>
  <th>Logged in Since</th>
  <th>Traffic IN/OUT</th>
</tr>
</thead>

{section name=i loop=$users_array}
<tr class='{cycle values="odd,even"}'>
    <td>{$users_array[i].name}</td>
    <td><a href="stats.php?user_id={$users_array[i].user_id}">{$users_array[i].username}</a></td>
    <td>{$users_array[i].account_origin}</td>
    <td>{$users_array[i].timestamp_in|date_format:"%Y/%m/%d %H:%M:%S"}</td>
    <td>{$users_array[i].incoming}/{$users_array[i].outgoing}</td>
    <td></td>
</tr>
{/section}
</table>
</fieldset>

{/if}
