{if $error}
	<div id="help">
	{$error}
	</div>
{else}

<fieldset class='pretty_fieldset'>
<legend>{"Online users"|_}</legend>
<table>

<thead>
<tr>
  <th>{"Node"|_}</th>
  <th>{"Username"|_}</th>
  <th>{"Origin"|_}</th>
  <th>{"Logged in Since"|_}</th>
  <th>{"Traffic IN/OUT"|_}</th>
</tr>
</thead>

{section name=i loop=$users_array}
<tr class='{cycle values="odd,even"}'>
    <td>{$users_array[i].name}</td>
    <td><a href="stats.php?Statistics={$users_array[i].account_origin}&distinguish_users_by=user_id&stats_selected_users={$users_array[i].username}&UserReport=on&user_id={$users_array[i].user_id}&action=generate">{$users_array[i].username}</a></td>
    <td>{$users_array[i].account_origin}</td>
    <td>{$users_array[i].timestamp_in|date_format:"%Y/%m/%d %H:%M:%S"}</td>
    <td>{$users_array[i].incoming}/{$users_array[i].outgoing}</td>
    <td></td>
</tr>
{/section}
</table>
</fieldset>

{/if}
