{include file="templates/header.html"}

{if $error}
	<div id="help">
	{$error}
	</div>
{else}

<div>
<table>
<tr>
	<th>Users</th>
	<th>Email</th>
	<th>Registered On</th>
</tr>
{section name=i loop=$users_array}
<tr>
    <td><a href="?user_id={$users_array[i].user_id}">{$users_array[i].user_id}</a></td>
    <td>{$users_array[i].email}</td>
	<td>{$users_array[i].reg_date|date_format:"%Y/%m/%d"}</td>
    <td></td>
</tr>
{/section}
</table>
</div>
<br>

{if $pages}
<div>
Page:
{section name=i loop=$pages}
<a {if $pages[i].selected}style="font-weight: bold;" {/if}href="?page={$pages[i].number}">{$pages[i].number}</a>
{/section}
</div>
{/if}

{/if}

{include file="templates/footer.html"}
