{if $error}
	<div id="help">
	{$error}
	</div>
{else}
<div>
<form method="get">
Sort: <select name="sort">{html_options values=$sort_ids selected=$sort output=$sort_ids}</select>
Direction: <select name="direction">{html_options values=$direction_ids selected=$direction output=$direction_ids}</select>
<input type="submit" value="{"Sort"|_}">
</form>
</div>

<div>
<table>
<tr>
	<th>Username</th>
	<th>Origin</th>
	<th>User IDs</th>
	<th>Registered On</th>
	<th>Account Status</th>
</tr>
{section name=i loop=$users_array}
<tr>
	<td>{$users_array[i].username}</a></td>
	<td>{$users_array[i].account_origin}</td>
	<td><a href="?user_id={$users_array[i].user_id}">{$users_array[i].user_id}</a></td>
    <td>{$users_array[i].reg_date|date_format:"%Y/%m/%d"}</td>
    {* hack, need to put info in variable before we can use $account_status_to_text *}
    {assign var="info" value="$users_array[i]"}
    <td>{$account_status_to_text[$info.account_status]}</td>
</tr>
{/section}
</table>
</div>
<br>

{if $pages}
<div>
Page:
{section name=i loop=$pages}
<a {if $pages[i].selected}style="font-weight: bold;" {/if}href="?sort={$sort}&direction={$direction}&page={$pages[i].number}">{$pages[i].number}</a>
{/section}
</div>
{/if}

{/if}