{include file="templates/header.html"}

<div id="user_stats">

<table>
<thead>
<tr>
    <th colspan=5>Cumulative user statistics</th>
</tr>
</thead>

<tr>
    <th>Total number of users in the database</th>
    <td>{$total_users}</td>
</tr>
	
<tr>
    <th>Number of validated users</th>
    <td>{$total_valid}</td>
</tr>

<tr>
    <th>User registration</th>
    <td>
    {section name=i loop=$registrations}
    {$registrations[i].month}: {$registrations[i].num_users} {"new users"|_}
    {/section}
    </td>
</tr>
	
<tr>
    <th>Ten most mobile users</th>
    <td>
    
    <table>
    <tr>
        <th>User</th>
        <th>Number of hotspots visited</th>
    </tr>

    {section name=i loop=$most_mobile_users}
    <tr>
        <td>{$most_mobile_users[i].user_id}</td>
        <td>{$most_mobile_users[i].num_hotspots_visited}</td>
    </tr>
    {/section}
    </table>

    </td>
</tr>

<tr>
    <th>Ten most frequent users</th>
    <td>
    
    <table>
    <tr>
        <th>User</th>
        <th>Number of distinct days user has used the network</th>
    </tr>

    {section name=i loop=$most_frequent_users}
    <tr>
        <td>{$most_frequent_users[i].user_id}</td>
        <td>{$most_frequent_users[i].active_days}</td>
    </tr>
    {/section}
    </table>

    </td>
</tr>

<tr>
    <th>Ten largest apetite for bandwidth</th>
    <td>
    
    <table>
    <tr>
        <th>User</th>
        <th>Total (MB)</th>
        <th>Incoming (MB)</th>
        <th>Outgoing (MB)</th>
    </tr>

    {section name=i loop=$most_apetite_users}
    <tr>
        <td>{$most_apetite_users[i].user_id}</td>
        <td>{$most_apetite_users[i].total}</td>
        <td>{$most_apetite_users[i].total_incoming}</td>
        <td>{$most_apetite_users[i].total_outgoing}</td>
    </tr>
    {/section}
    </table>

    </td>
</tr>

</div>

{include file="templates/footer.html"}
