{literal}
body{
	margin: 0px;
	padding: 0px;
	font-family: arial, sans-serif;
	color: #616756;
	/*font-size: 11px;*/
	font-size: small;
}

.outer_container
{
	background-color: white;
}

#tool_section {
	border: 1px solid #E9E9E9;
	float:left;
	position: relative;
	width: 250px;  /* L */
}

#main_section{
	border: 1px solid #E9E9E9;
	margin-left: 252px;
	padding: 5px;
}

div.tool_user_info {
	background: #C8FF7A;
	background-color: #C8FF7A;
	padding: 2px;
}
span.tool_user_info{
}
div.navigation{
	text-align: center;
	font-size: 11px;
    {/literal}
	background-image: url(../images/01_nav.gif);
    {literal}
	background-repeat: repeat;
	background-position: left top;
	padding: 10px 5px 10px 5px;
}
span.navigation{

}
div.language{
	width: 250px;
	height: 30px;
}
form.language{
	position: relative;
	top: 5px;
	right: 5px;
	text-align: right;
}
.tool_content{
	padding: 0px 5px 0px 5px;
}
.tool_content ul {
	list-style-type: square;
	padding: 20px;
	margin: 0px;
}
div.avis{
	padding: 20px 10px 10px 10px;
    {/literal}
	background-image: url(../images/03_avis.gif);
    {literal}
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #FDFDFD;
}
span.avis{
	padding-top: 20px;
}
div.anysection{
	padding: 0px 5px 0px 5px;
	font-family: arial, sans-serif;
	color: #616756;
	font-size: 11px;
	text-align: left;
}
div.test{
	text-align: center;
	vertical-align: text-top;
}
h1{
	font-family: verdana, sans-serif;
	color: #88AA4B;
	font-size: 14px;
}
form{
	padding: 0px;
	margin: 0px;
}
img.separator{
	display: inline;
	position: relative;
	top: 0px;
	vertical-align: text-top;
}
img.administration{
	vertical-align: middle;
}
a {
	font-family: arial, sans-serif;
	color: #616756;
	font-size: 11px;
	text-decoration: underline;
}
a:hover{
	font-family: arial, sans-serif;
	color: #88AA4B;
	font-size: 11px;
	text-decoration: underline;
}
a.administration {
	margin: 5px;
	font-family: arial, sans-serif;
	color: #616756;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
a.navigation{
	position: relative;
	top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: arial, sans-serif;
	color: #616756;
	font-size: 11px;
	text-decoration: none;
}
.indent{
	padding-left: 25px;
}

select{
	font-family: arial, sans-serif;
	color: #616756;
	font-size: 11px;
	border: 1px solid #C8FF7A;
	background: #C8FF7A;
}


/*********************************************************************/

.logos {
  float: right;
  text-align: center;
}


/** Messages */
.errormsg {font-weight: bold;  
		color: red};

.warningmsg {font-weight: bold;  
		color: teal};

.successmsg {font-weight: bold;  
		color: green};

.msg {font-weight: bold;  
		font-color: black};

/* The content container */
.content { border: 2px solid gray; 
			width:auto;}
/* The admin container */
.admin_container { display: block;
border: 2px solid blue; 
background-color:	white;
margin: 3px;
width:auto; }
 /* The class name of the container */
.admin_class { /*float: left;*/ 
					  color:grey;
						border: none;
display: none;
}
.admin_section_container { display: block;
border: 1px solid #DDDDFF; /*light blue*/
background-color:	#FBFBFF;/*lighter blue*/
margin: 5px;
width:auto; 
}
#NodeSelector select {
	width: 100%;
}
.admin_section_title { display: inline;
						font-weight: bold;  }
.admin_section_data { display: inline;}
.admin_section_tools { display: inline;}

.admin_section_list { /* list of elements inside a section */
display: compact;
}
.admin_section_list_item {display: compact; }
/*.user_ui_main {
	border: 1px solid gray;
	margin: 2px;
	float: left;
	display: inline;
	padding: 2px;
}*/

.portal_content {
	display: inline;
	float: left;
	border: 1px solid black;
	margin: 2px;
/*	background-color: #d0d0d0;*/
	background-color: white;
}
.user_ui_main_outer {
	display: block;
}
.user_ui_main_inner {
	display: block;

/*	border: 1px solid gray;*/
	margin: 2px;
	padding: 2px;
}
.user_ui_object_class{ display: none;  }
.user_ui_container {
}
.user_ui_title {
	display:block;
	font-size: medium;
	font-weight: bold;
	color: white;
	background-color: #777777;
}
.user_ui_authors {
	display:block;
	font-weight: bold;
	background-color: #777777;
	color: white;
}
.user_ui_description {
	display:block;
	margin: 0;
	text-align: justify;
	background-color: rgb(235, 235, 235);
}
.user_ui_footer {
	display:block;
	padding: 5px;
	background-color: #9d9d9d;
}
.user_ui_picture {
	height: 250px;
}
.user_ui_projet_info {
	background-color: rgb(235, 235, 235);	
}
.user_ui_sponsor_info {
	background-color: rgb(235, 235, 235);
}

.list_ui_container { 
	display: inline; 
}
/* Portal */

#portal_container {
	margin: 3px;
}
.portal_network_section {
/*	background-color:	#CFDCE6;*/
	margin: 3px;
}
.portal_node_section {
/*	background-color:	#CFDCE6;*/
	margin: 3px;
}
.portal_node_section h1, .portal_node_section h1 a {
	font-family: verdana, sans-serif;
	color: #88AA4B;
	font-size: 14px;
}
.portal_network_section h1, .portal_network_section h1 a {
	font-family: verdana, sans-serif;
	color: #88AA4B;
	font-size: 14px;
}
.portal_user_section {
/*	background-color:	#CFDCE6;*/
	margin: 3px;
	clear: left;
}
.portal_section_logo {
	padding: 2px;
	height: 100px;
	display: inline;
}
.flickr_photo_block {
    margin:20px auto 20px auto;
    width:400px;
}
.flickr_photo_block:hover > * {
    visibility: visible;
}
.flickr_title {
	color: white;
    visibility: hidden;
    width: 200px;
    background: #696969;
}
.flickr_title a {
	color: white;
}
.flickr_title h3 {
    color: white;
    padding: 5px;
    margin: 0;
}
.flickr_photo {
    float:left;
}
.flickr_photo img {
    border: 10px solid black;
}
.flickr_tags {
    visibility: hidden;
    background-color: #696969;
    color: white;
	width: 140px;
}
.flickr_tags h3 {
    padding-left: 5px;
    margin: 0;
}
.flickr_tags ul {
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
}
.flickr_tags li {
    list-style: none;
    list-style-image: none;
}
.flickr_tags li a {
    color: white;
    font-size: normal;
    text-decoration: none;
}
.flickr_tags li a:hover {
    text-decoration: underline;
}
.flickr_description {
    visibility: hidden;
    width: 180px;
    background: #696969;
    color: white;
    padding: 5px;
    margin-top: 0px;
}
.flickr_description a {
	color: white;
	text-decoration: underline;
}
.spreadsheet { border: thin solid lightblue  ; text-align:left}
TH.spreadsheet { background-color: lightgrey}
TABLE.spreadsheet { border: solid darkblue  ; text-align:left}
TABLE.spreadsheet_user { border:  thin solid lightblue ; 	padding:0px;	margin:0px;}
TH.th_left { background-color: lightgrey  ; text-align:left}
TH.th_section { background-color: silver  ; text-align:center}
TD.spreadsheet_user { /*background-color: lightgray;*/ }
.popup { background-color: white;   border: solid darkblue    ; text-align:left}
.link     { color: blue; text-decoration: underline }

#node_list { float: left; }
#node_list table { background-color: #b1d5ba; border-collapse: collapse; width: 100%; }
#node_list tr { background-color: #e1f5da; border: 1px solid; }
#node_list tr.even { background-color: #e1f5da; }
#node_list tr.odd { background-color: #b1d5ba; }
#node_list td { margin: 0 0 0 0; text-align: center; color: #000000; }
#node_list td.status { width: 15em; text-align: left; font-size: 9pt; }
#node_list a { color: #000000; }

#hotspot_status { float: left; }
#hotspot_status table { background-color: #b1d5ba; border-collapse: collapse; width: 100%; }
#hotspot_status tr { vertical-align: top; font-size: 10pt; font-family: Arial; background-color: #e1f5da; border: 1px solid; }
#hotspot_status tr.even { background-color: #e1f5da; }
#hotspot_status tr.odd { background-color: #b1d5ba; }
#hotspot_status td { margin: 0 0 0 0; color: #000000; }
#hotspot_status a { color: #000000; }

#hotspot_log { margin: 1em; }
#hotspot_log table { background-color: #b1d5ba; border-collapse: collapse; }
#hotspot_log th { background-color: #e1f5da; border: 1px solid; text-align: left; }
#hotspot_log tr { background-color: #ffffff; border: 1px solid; }
#hotspot_log td { margin: 0 0 0 0; color: #000000; }
#hotspot_log td.status { width: 15em; text-align: left; font-size: 9pt; }
#hotspot_log a { color: #000000; }

#user_stats { float: left; }
#user_stats table { background-color: #b1d5ba; border-collapse: collapse; }
#user_stats th { background-color: #e1f5da; border: 1px solid; }
#user_stats tr { background-color: #ffffff; border: 1px solid; }
#user_stats td { margin: 0 0 0 0; color: #000000; }
#user_stats td.status { width: 15em; text-align: left; font-size: 9pt; }
#user_stats a { color: #000000; }

#std_table { float: left; }
#std_table table { border: 1px solid gray; }
#std_table th { font-size: 14pt; background-color: #e1f5da;}
#std_table td.item { font-weight: bold; }

{/literal}
