{literal}
body {
  {/literal}
  background: #fff url({$common_content_url}back.gif) repeat-y;
  {literal}
  margin: 0;
  font-family: helvetica;
  font-size: 90%;
  color: #628C53;
}

#head {
  {/literal}
  background: #CCE0C5 url({$common_content_url}h1_back.gif) repeat-x;
  {literal}
}

h1 {
  {/literal}
  background: url({$common_content_url}head.gif) no-repeat top left;
  {literal}
  margin: 0;
  padding: 7px 2px 2px 186px;
  height: 50px;
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}

h2 {
  /*clear: both;*/
  border-bottom: 1px solid #BFDCB5;
  color: #628C53;
}

#login {
  background: #CCE0C5;
  padding: 2px 10px;
  text-align: right;
  font-size: 0.9em;
  color: #628C53;
}

#login form, #login p {
  margin: 0;
}

#login span {
  padding-right: 20px;
  font-weight: bold;
}

#content {
  margin-left: 186px;
  padding: 10px;
  border-top: 1px solid #BFDCB5;
}

#navLeft {
  float: left;
  width: 186px;
  color: #628C53;
}

#navLeft ul {
  margin-left: 15px;
  padding-left: 0;
  list-style-type: none;
}

#navLeft ul li {
  padding: 3px 0;
}

#navLeft a {
  color: #35952A;
}

#navLeft a:hover {
  color: #FB7F44;
}

#navLeft h3 {
  margin-left: 15px;
  font-size: 1.2em;
}

.logos {
  float: right;
  text-align: center;
}

p.sidenote {
  margin: 20px 10px;
  padding: 10px 5px;
  border: 1px solid #BFDCB5;
}

.hotspot {
  padding: 5px;
  border: 1px solid #BFDCB5;
}


.warning {
	color:red;
	font:bold 14px/18px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 10px;
	padding:0px;
}	

.spreadsheet { border: thin solid lightblue  ; text-align:left}
TH.spreadsheet { background-color: lightgrey}
TABLE.spreadsheet { border: solid darkblue  ; text-align:left}
TABLE.spreadsheet_user { border:  thin solid lightblue ; 	padding:0px;	margin:0px;}
TH.th_left { background-color: lightgrey  ; text-align:left}
TH.th_section { background-color: silver  ; text-align:center}
TD.spreadsheet_user { /*background-color: lightgray;*/ }
.popup { background-color: white;   border: solid darkblue    ; text-align:left}
.link     { color: blue; text-decoration: underline }
A:link    { color: blue }
A:active  { color: red; /* font-size: 125% */}
A:visited { font-size: 85% }

#node_list table { background-color: #b1d5ba; border-collapse: collapse; width: 100%; }
#node_list tr { background-color: #e1f5da; border: 1px solid; }
#node_list tr.even { background-color: #e1f5da; }
#node_list tr.odd { background-color: #b1d5ba; }
#node_list td { margin: 0 0 0 0; text-align: center; color: #000000; }
#node_list td.status { width: 15em; text-align: left; font-size: 9pt; }
#node_list a { color: #000000; }

{/literal}
