/********** generic object admin interface **********/
	/* Fieldset, wraps every output of displyAdminUI.
All admin_container are also admin_element_group (to ensure that
 nesting will be explicit) and include the classname of the object as
 the object class (such as 'Langstring')*/
.admin_container {
	border: 2px solid #D2D2D2;
}

/* noramlly a fieldset, logically wraps groups of related
options.*/
.admin_element_group {
	border: 1px dotted #D2D2D2;
}

.admin_container,.admin_element_group {
	display: block;
	background-color: white;
	margin: 0.1em 0.1em 0.1em 0.1em;
	width: auto;
}

fieldset.admin_container legend {
	font-size: 1.2em;
}

/* Contains a list of administrative properties of an object */
.admin_element_list {
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
}

/* Contains an administrative property (possibly a complex, nested one) of an object */
.admin_element_item_container {
	margin: 0.1em 0.1em 0.1em 0.1em;
	padding: 0em;
	width: auto;
}

li.admin_element_item_container {
	display: block;
}

tr.admin_element_item_container {
	
}

/* The label of the admin element. Optional */
.admin_element_label {
	font-weight: bold;
}

div.admin_element_label {
	display: inline;
}

td.admin_element_label,th.admin_element_label {
	
}

/* The actual admin element data.  Can contain another admin_element_group */
div.admin_element_data {
	display: inline;
}

td.admin_element_data,th.admin_element_data {
	
}

/* Interaction elements (buttons mostly) are in this container.  Optional */
.admin_element_tools {

}

div.admin_element_tools {
	display: inline;
}

td.admin_element_tools,th.admin_element_tools {
	
}

/* buttons */
.submit {
	margin-top: 5px;
	margin-right:5px;
	border:1px solid #CCCCCC;
}
.submit:hover {
	margin-top: 5px;
	margin-right:5px;
	border: 1px solid #BBB; 
}
.submit_disabled {
	margin-top: 5px;
	margin-right:5px;
	color: red;	
	border: 2px solid red;
}

/********** End generic object admin interface **********/
