/* The content container */
.content {
	border: 2px #F2F2F2;
	width: auto;
}

.user_select_user_ui_container div {
	display: inline;
}

.user_select_user_ui_container .submit {
	display: inline;
}

.role_select_role_ui_container div {
	display: inline;
}
/** Content management tools */

.content_management_tools {
	border: 1px solid #F2F2F2;
	background-color: #FAFAFA;
}


.content_management_tools th {
	color: #FFFFFF;
	text-align: center;
}

.already_linked_content {
	
}

.add_existing_content {
	font-weight: bold;
}

.add_new_content {
	font-weight: bold;
}

#NodeSelector select {
	width: 100%;
}

.generic_object_admin_edit input {
	float: left;
}
