/* form elements */
form {
	margin:10px; padding: 5px;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA; 
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}

textarea {
	width:400px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}

input {
	margin: 5px; 
	font: bolder 12px Arial, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 2px 3px; 
	background: #FFF;
	color: #88ac0b;
}

input.button { 
	margin: 5px; 
	font: bolder 12px Arial, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 2px 3px; 
	background: #FFF;
	color: #88ac0b;
}
input:hover { 
	margin: 5px; 
	font: bolder 12px Arial, Sans-serif; 
	border: 1px solid #BBB; 
	padding: 2px 3px; 
	background: #FFF;
	color: #4F82CB;
}
input:focus {
	margin: 5px; 
	font: bolder 12px Arial, Sans-serif; 
	border: 1px solid #BBB; 
	padding: 2px 3px; 
	background: #FFF;
	color: #4F82CB;
}

select {
	background:white none repeat scroll 0% 0%;
	border: 1px solid #CCC;
	color: inherit;
}

/* search */
form.search {
	position: absolute;
	top: 35px; right: 25px;
	background: transparent;
	border: none;	
}	
form.search input.textbox {
	margin: 0; padding: 1px 2px;
	width: 120px;
	background: #FFF;
	color: #333; 
}
form.search input.button {
	background: #CCC url(../images/headerbg.gif) repeat-x;
	color: #333;
	border: none;	
	width: 70px; height: 21px;
}
