/* Menu */

#site_menu a {
	color: #FFF;
}

#site_menu a:hover a:sfhover {
	color: #000;
}

#site_menu {
	clear: both;	
	margin: 0; padding: 0 40px 0 0;
	background: url(../images/menu.jpg) repeat-y center top;	
	font: bold 12px/26px Verdana, Arial, Tahoma, Sans-serif;
	height: 26px;

}
#site_menu ul {
	float: right;
	list-style: none;
	margin:0; padding: 0;
}
#site_menu ul li {
	display: inline;
}
#site_menu ul li a {
	padding: 0 8px;
	color: #FFF;	
	text-decoration: none;
}
#site_menu ul li a:hover {
	background-color: #ECECEC;
	color: #000;	
}
#site_menu ul li#current a {	
	background-color: #FFF;
	color: #000;
}
#site_menu li:hover,#site_menu li.sfhover { /* WD specific */
	background-color: #ECECEC;
	color: #000;
}
#nav,#nav ul { /* all lists */
	padding: 0;
	margin: 0 0 1em 0;
	list-style: none;
	line-height: 1;
	/* WD specific */
	float: left;
	width: auto;
	background: url(../images/menu.jpg) repeat-y center top;
	font-weight: bold;
	border: solid #d7d5d5;
	border-width: 1px 0; 
	z-index: 99;
}

#nav {
	/* WD specific, this must be after the #nav,#nav ul, it will apply only to the top menu items */
	background: none;
	margin: 0 0 0 0;
	border: none;
	clear: both;
	display: block;
	float: none;
	color: #000;
	vertical-align: baseline;
}

#nav a { /* WD specific */
	display: block;
	width: 10em;
	text-decoration: none;
	padding: 0.25em 2em;
	color: #FFF;
}

#nav li { /* all list items */
	float: left;
	width: 10em; /* width needed or else Opera goes nuts */
	/* WD specific */
	padding: 0;
}

#nav>li { /* WD specific */
/*	border-left: 1px solid #d7d5d5;
	border-right: 1px solid #d7d5d5;
	border-bottom: 1px solid #d7d5d5; */
}

#nav li li { /* WD specific */
	padding-right: 1em;
	width: 13em;
}

#nav li ul a { /* WD specific */
	width: 13em;

}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 14.4em;
	left: -999em;
	/* using left instead of display to hide menus because display: none isn't read by screen readers */
	/* WD specific */
	height: auto;

	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
}

#nav li:hover ul { /* WD specific */
	left: auto;
}

#nav li ul ul { /* third-and-above-level lists */
	margin: -1.75em 0 0 14em;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li.sfhover ul ul,#nav li.sfhover ul ul ul
	{
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul
	{ /* lists nested under hovered list items */
	left: auto;
}

#nav li:hover, #nav li.sfhover { /* WD specific */
	background-color: #ECECEC;
	color: #000;
}
