/* RssAggregator */
.fpr_item_title {
	display: inline;
}

.fpr_feed_title {
	display: inline;
}

.fpr_title_date {
	font-weight: lighter;
}

.fpr_title_str {
	display: inline;
	font-size: 1.3em;
	color: #000000;
}

.fpr_item_title .fpr_title_str {
	
}

.fpr_list {
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}

.fpr_item {
	list-style-type: none;
	display: block;
}

fpr_empty_feeds {
	
}

.fpr_mouseover {
	display: inline
}

.fpr_item_link { /*font-size: 1.0em;*/
	color: #003399;
}

.fpr_expand_switch {
	text-decoration: none;
}

.fpr_popup_inner_div {
	padding: 0.5em;
	visibility: hidden;
	position: absolute;
	left: 0em;
	top: 0em;
	width: 100%;
	z-index: 100;
	opacity: 0.90;
	filter: alpha(opacity =       90);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #EBFFEB;
	color: #000000;
	border: 1px solid #C2FFC2;
}

.fpr_popup_inner_div_expanded {
	margin: 0em 0em 0.5em 0.5em;
	padding: 0.5em;
	/* Color of background around the text: #E9F6FF */
	border-top: 1px solid #F4FAFF;
	border-right: 1px solid #B4DFFF;
	border-bottom: 1px solid #B4DFFF;
	border-left: 1px solid #F4FAFF;
	color: #000000;
	background-color: #FFFFFF;
}

.fpr_popup_outer_div {
	position: relative;
}

.fpr_feed_image {
	float: right;
}

.fpr_text {
	display: block;
}

.fpr_text P {
	
}

.fpr_text img {
	float: right;
}

.fpr_enclosure {
	max-width: 320px;
	max-height: 240px;
	display: inline;
	float: right;
}

.fpr_enclosure_inner {
	display: block;
}

.fpr_clear {
	clear: right;
}

.fpr_enclosure_download {
	text-align: center;
}

.fpr_item_metadata {
	float: right;
}

.flickr_photo {
	background: url(../images/flickr_shadowAlpha.png) no-repeat bottom right
		!important;
	background: url(../images/flickr_shadow.gif) no-repeat bottom right;
	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}

.flickr_photo img {
	display: block;
	position: relative;
	background-color: #fff;
	border: 1px solid #CCCCCC;
	margin: -6px 6px 6px -6px;
	padding: 4px;
}

.flickr_photo img:hover {
	display: block;
	position: relative;
	background-color: #fff;
	border: 2px solid #CCCCCC;
	margin: -6px 6px 6px -6px;
	padding: 3px;
}

.flickr_photo_hover {
	display: none;
}

.flickr_title {
	color: white;
	width: 200px;
	background: #696969;
}

.flickr_title a {
	color: white;
}

.flickr_title h3 {
	color: white;
	padding: 5px;
	margin: 0;
}

.flickr_tags {
	visibility: hidden;
	background-color: #696969;
	color: white;
	width: 140px;
}

.flickr_tags h3 {
	padding-left: 5px;
	margin: 0;
}

.flickr_tags ul {
	margin-left: 20px;
	margin-top: 0px;
	padding: 0px;
}

.flickr_tags li {
	list-style: none;
	list-style-image: none;
}

.flickr_tags li a {
	color: white;
	/* font-size: normal; - invalid? */
	text-decoration: none;
}

.flickr_tags li a:hover {
	text-decoration: underline;
}

.flickr_description {
	color: white;
	width: 200px;
	background: #696969;
}

.flickr_description a {
	color: white;
	text-decoration: underline;
}

.pattern_language_menu {
	list-style-type: square;
}

.pattern_language_big_links {
	color: #88AA4B;
	font-size: medium;
	font-weight: bold;
}

.pattern_language_big_links:hover {
	color: #88AA4B;
	font-size: medium;
	font-weight: bold;
}

.pattern_language_body {
	border: outset #999999;
	background: #fafff3;
	margin: 5px;
	padding: 10px;
	text-align: justify;
}

.pattern_language_credits {
	border: 1px solid #999999;
	background: #fafff3;
	margin: 5px;
	padding: 5px;
}
