/* User Info Box */
div.tool_user_info {
	margin: 0px;
	padding: 5px;
}

div.language {
	
}

form.language {
	padding: 5px;
	text-align: right;
}

.tool_content {
	padding: 0px 5px 0px 5px;
}

/* The tool content */

#logout_link {
display: block;
}

#preferences_link {
display: block;
}

#logout_link IMG {
	vertical-align: middle;
}

#preferences_link IMG {
	vertical-align: middle;
}




.Avatar {
	display: inline;
	vertical-align: middle;
	margin: 0 0.5em 0 0;
	padding: 0 0 0 0;
}

.Avatar div {
	display: inline;
}

.Avatar img {
	max-width: 20px;
	max-height: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.Profile .Avatar img {
	float: left;
}

.user_nickname {
	font-size: 1.25em;
	font-weight: bold;
}

.user_edit_profile_link {
	display: inline;
}

.user_ui_profile_field {
	
}

.profile_field_label {
	font-size: 1.25em;
	font-weight: bold;
	display: inline;
	margin: 0em;
	padding: 0em;
}

.profile_field_label div {
	margin: 0em;
	padding: 0em;
}

.profile_field_label div {
	display: inline;
}

.profile_field_content {
	display: inline;
}

.profile_field_content div {
	display: inline;
}
