/********************************************
   HTML ELEMENTS
********************************************/ 

/* Top Elements */
* { margin: 0; padding: 0; }

body {
	background: #CCCCCC;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #333; 
	text-align: center;
}

/* links */
a, a:visited {
	text-decoration: none;
	color: #4F82CB; 
}
a:hover {
	color: #4EBF37;
	background: inherit;
}

/* headers */
h1, h2, h3 {
	font-family: Tahoma, Verdana, 'Trebuchet MS', Sans-serif;
	font-weight: Bold; 		
}
h1 {
	font-size: 120%;	
}
h2 {
	font-size: 110%;
	text-transform: uppercase;
	color: #88ac0b;
}
h3 {
	font-size: 110%;
	color: #666666; 
}

/* images */
img {
	vertical-align: center;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
	padding: 10px;		
	margin: 0;
}
ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
	c/olor: #88ac0b;	
}
ul span, ol span {
	color: #666666;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
}
acronym {
	cursor: help;
	border-bottom: 1px solid #777;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 28px;  
	border: 1px solid #f2f2f2; 
  	background: #FAFAFA url(../images/quote.gif) no-repeat 5px 5px;    
}

fieldset legend {
	margin-bottom: 5px;
	font: Bold 125% Verdana, 'Trebuchet MS', Sans-serif;
	color: #88ac0b;
	padding: 5px 5px 5px 25px; 	
	b/order-bottom: 1px solid #EFF0F1;
	background: transparent url(../images/square-green.png) no-repeat 3px 50%;
}

fieldset {
	b/ackground-color: #FAFAFA;
	border: 1px solid #D2D2D2;
	margin: 5px 5px;
	padding: 5px;
}
