.user_ui_main_outer {
	display: block;
	color: #3D586B;
	background: none;
	border: none;
	margin: 1em;
	padding: 0em;
	width: 100%;
}

.user_ui_main_outer .user_ui_main_outer {
	margin: 0em;
	padding: 0em;
}

.hasDisplayableMetadata {
	/*Defined at same level as user_ui_main_outer*/
	background: #E9F6FF;
	border: 1px solid #B4DFFF;
	margin: 1em;
	padding: 0.2em;
}

.user_ui_title .user_ui_main_outer,.user_ui_description .user_ui_main_outer
	{
	margin: 0em;
	padding: 0em;
	border: none;
}

.user_ui_main_inner {
	display: block;
	/*	border: 1px solid gray;*/
}

.user_ui_container {
	display: block;
	margin: 0em;
	padding: 0em;
}

.user_ui_title {
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin: 0em;
	padding: 0em;
}

.user_ui_title a {
	font-size: medium;
	font-weight: bold;
}

.user_ui_authors {
	display: block;
	font-weight: bold;
	color: #386b04;
	padding: 5px;
	background: #cafd84;
	margin: 0em;
	padding: 0em;
}

.user_ui_description {
	text-align: justify;
	font-weight: bold;
	margin: 0em;
	padding: 0.5em;
}

.user_ui_footer {
	display: block;
	padding: 5px;
	background-color: #9d9d9d;
}

.user_ui_picture {
	height: 250px;
}

.user_ui_projet_info {
	background-color: rgb(235, 235, 235);
}
