{include file="templates/header_small.html"}
    <div id="form">
        <h2>{"Frequently Asked Questions"|_}</h3>

        <hr>

        <p class="bold">Q: {"Do I have to pay to get access to the Internet"|_}?</p>
        <p><span class="bold">A:</span> {"No, Internet access is provided for free by the venue you are actually at"|_}.</p>
        
        <hr>

        <p class="bold">Q: {"I have failed to validate my account in x minutes"|_}.</p>
        <p><span class="bold">A:</span> {"You have been given an amount of minutes of Internet access in order to retrieve the email we sent to you and validate your free account. What you can do now is either <a href='signup.php'>create a new account</a> and then validate it properly, or get on the Internet from somewhere else (home, free Internet cafe, etc.) and validate the account you just created. If you need us to resend you the validation email, please <a href='resend_validation.php'>click here</a>"|_}.</p>

        <hr>

        <p class="bold">Q: {"What steps are required in order to create and validate a new account?"|_}</p>
        <p><span class="bold">A:</span> {"Here is an overview of the steps"|_}:
        <ul>
        <li>{"Pick a username, enter your email address, and enter the password you would like. An email will be sent to you with a link you can click to validate your account"|_}.</li>
        <li>{"Once the account is created, you need Internet access in order to check your email and click the validation link. In order to get temporary access to the Internet during your validation period, visit any URL (for example www.google.com) to get the login page again"|_}.</li>
        <li>{"Enter your login information. You will be given 15 minutes of Internet access, plenty of time to check your email and click on the link"|_}.</li>
        <li>{"Once that last step is done, you will have full free Internet access"|_}!</li>
        </ul>
        </p>
    </div>

{include file="templates/footer.html"}
