<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
<meta http-equiv='Pragma' CONTENT='no-cache'>
<meta http-equiv='Expires' CONTENT='-1'>
<style type="text/css">
{include file=$stylesheet_file}
</style>
<title>{$hotspot_network_name} {$title}</title>
</head>
<body>

<div id='head'><h1>{$hotspot_network_name} {$title}</h1></div>

<div id='navLeft'>
{if $auth_user}
<p style="font-size: 75%;">{"Logged in as:"|_} <b>{$auth_user}</b></p>
{else}
<p style="font-size: 75%;">{"NOT logged in."|_} <b><a href="{$smarty.const.BASE_NON_SSL_PATH}login/">{"Login?"|_}</a></b></p>
{/if}
{include file="templates/lang_menu.html"}
{include file="templates/user_management_menu.html"}
</div>

<div id='content'>
