<div id="hotspot_status">
<table>
<thead>
<tr>
    <th colspan=6>{"Status of the"|_} {$num_deployed_nodes} {"open"|_} {$hotspot_network_name} {"Hotspots (Get this list as a <a href='?format=RSS'>RSS feed</a>)"|_}</th>
</tr>
<tr>
    <th>{"Hotspot / Status"|_}</th>
    <th>{"Description"|_}</th>
    <th>{"Location"|_}</th>
</tr>
</thead>

{section name=node loop=$nodes}
<tr class="{cycle values="odd,even"}">
    <td>
    {if $nodes[node].node_deployment_status == 'NON_WIFIDOG_NODE'}
        ?
        {else}
        {if $nodes[node].is_up == 't'}
            <img src='{$smarty.const.BASE_URL_PATH}images/hotspot_status_up.png'>
        {else}
            <img src='{$smarty.const.BASE_URL_PATH}images/hotspot_status_down.png'>
        {/if}
    {/if}

    {if !$nodes[node].home_page_url}
      {$nodes[node].name}
    {else}
      <a href='{$nodes[node].home_page_url}' target='_new'>{$nodes[node].name}</a>
    {/if}

    {if $nodes[node].node_deployment_status == 'IN_TESTING'}
      <br />
      {"Hotspot in testing phase"|_}
    {/if}

    {if $nodes[node].node_deployment_status == 'NON_WIFIDOG_NODE' && $nodes[node].is_up != 't'}
      <br />
      {$nodes[node].duration.days} {"days"|_} {$nodes[node].duration.hours}{"h"|_} {$nodes[node].duration.minutes}{"min"|_}<br />
    {/if}
    </td>

    <td>
    {if $nodes[node].description}
      {$nodes[node].description}
      <br />
    {/if}

    {"Opened on"|_} {$nodes[node].creation_date}
    </td>

    <td>
    {if $nodes[node].civic_number}{$nodes[node].civic_number}, {/if}
    {if $nodes[node].street_name}{$nodes[node].street_name}{/if}
    <br/>
    {if $nodes[node].city}{$nodes[node].city}, {/if}
    {if $nodes[node].province}{$nodes[node].province}, {/if}
    {if $nodes[node].postal_code}{$nodes[node].postal_code}, {/if}
    {if $nodes[node].country}{$nodes[node].country}{/if}	
    {if $nodes[node].map_url} - <a href='{$nodes[node].map_url}' target='_new'>{"Map"|_}</a>{/if}
    {if $nodes[node].mass_transit_info}<br />{$nodes[node].mass_transit_info}{/if}
    {if $nodes[node].public_phone_number}<br />{$nodes[node].public_phone_number}{/if}
    {if $nodes[node].public_email}<br />{$nodes[node].public_email}{/if}
    </td>

</tr>
{/section}

</table>
</div>