{include file="templates/header_small.html"}
    <div id="form">

        <h3>{"Welcome! Hotspot:"|_} {$hotspot_name}</h3>

        <h3>{"Please log-in or"|_}<br><a href="{$smarty.const.BASE_SSL_PATH}signup.php">{"Sign-up, it's free!"|_}</a></h3>

        <form name="login_form" method="post">
	    <input type="hidden" name="gw_address" value="{$gw_address}">
	    <input type="hidden" name="gw_port" value="{$gw_port}">
	    <input type="hidden" name="gw_id" value="{$gw_id}">
        <table>

        <tr>
        	<td>{"Network"|_}:</td>
        	<td>
        		<select name="auth_source">
	        	{foreach key=key item=source from=$auth_sources}
	        		{if $auth_source == $key} 
	        		<option SELECTED label="{$source.name}" value="{$key}">{$source.name}</option>
	        		{else}
	        		<option label="{$source.name}" value="{$key}">{$source.name}</option>
	        		{/if}
				{/foreach}
				</select>
        	</td>
        </tr>

        <tr>
            <td>{"Username (or email)"|_}:</td>
            <td><input type="text" name="username" value="{$username}" size="20"></td>
        </tr>
        <tr>
            <td>{"Password"|_}:</td>
            <td><input type="password" name="password" size="20"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="submit" type="submit" name="submit" value="{"Login"|_}"></td>
        </tr>
        </table>
        </form>

        <h3>{"I already have an account, but"|_}:</h3>
        <ul>
            <li><a href="{$smarty.const.BASE_SSL_PATH}lost_username.php">{"I Forgot my username"|_}</a><br>
            <li><a href="{$smarty.const.BASE_SSL_PATH}lost_password.php">{"I Forgot my password"|_}</a>
            <li><a href="{$smarty.const.BASE_SSL_PATH}resend_validation.php">{"Re-send the validation email"|_}</a><br>
            <li><a {if $error}class="help"{/if} href="{$smarty.const.BASE_SSL_PATH}faq.php">{"I have trouble connecting and I would like some help"|_}</a><br>
        </ul>
    </div>

    {if $error}
    <div id="help">
	{$error}
    </div>
    {/if}

{include file="templates/footer.html"}
