<fieldset class="pretty_fieldset">
<legend>{"Lost username"|_}</legend>

        <form name="form" method="post">
        {if $SelectNetworkUI}
        {$SelectNetworkUI}
        {/if}
        <table>
        <tr>
            <td>{"Your email address"|_}:</td>
            <td><input type="text" name="email" value="{$email}" size="20"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="submit" type="submit" name="submit" value="{"Retrieve"|_}"></td>
        </tr>
        </table>
        </form>

</fieldset>
    
    <div id="help">
        {if $error}
        {$error}
        {else}
        {"Please enter your email address to recover your username"|_}.
        {/if}
    </div>

