{include file="templates/header_small.html"}
<div id="signup">

    <div id="lang">
    {include file="templates/lang_menu.html"}
    </div>

    <div id="head">
        <a href="{$smarty.const.HOTSPOT_NETWORK_URL}"><img src="/local_content/common/head.gif" border="0"></a><br>
    </div>

    <div id="banner">
        {"FREE WIRELESS INTERNET"|_}
    </div>

    <div id="form">
        <h3>{"Lost username"|_}</h3>

        <form name="form" method="post">
        <table>
        <tr>
            <td>{"Your email address"|_}:</td>
            <td><input type="text" name="email" value="{$email}" size="20"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="submit" type="submit" name="submit" value="{"Retrieve"|_}"></td>
        </tr>
        </table>
        </form>

    </div>
    
    <div id="help">
        {if $error}
        {$error}
        {else}
        {"Please enter your email address to recover your username"|_}.
        {/if}
    </div>
</div>
