{include file="templates/header_small.html"}
    <div id="form">
        <h3>{"Lost username"|_}</h3>

        <form name="form" method="post">
        <table>
        {include file="templates/auth_sources_selection.html"}
        <tr>
            <td>{"Your email address"|_}:</td>
            <td><input type="text" name="email" value="{$email}" size="20"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="submit" type="submit" name="submit" value="{"Retrieve"|_}"></td>
        </tr>
        </table>
        </form>

    </div>
    
    <div id="help">
        {if $error}
        {$error}
        {else}
        {"Please enter your email address to recover your username"|_}.
        {/if}
    </div>
{include file="templates/footer.html"}
