{include file="templates/header_small.html"}

<p>
{"You have now been granted 15 minutes of Internet access without being validated to go and activate your account."|_}
</p>

<p>
{"If you fail to validate your account in 15 minutes, you will have to validate it from somewhere else."|_}
</p>

<p>
{"If you do not receive an email from our validation server in the next minute, perhaps you have made a typo in your email address, you might have to create another account."|_}
</p>

{include file="templates/footer.html"}
