{include file="templates/header.html" title="node list"}
<div id="node_list">
<h3>{"Status of all nodes of the"|_} {$smarty.const.HOTSPOT_NETWORK_NAME} {"network"|_}</h3>
<table>
<thead>
<tr>
    <th>{"Status"|_}</th>
	<th>{"Id"|_}</th>
	<th>{"Name"|_}</th>
	<th>{"Local content demo"|_}</th>
	<th>{"Opened on"|_}</th>
	<th>{"Online users"|_}</th>
</tr>
</thead>

{section name=node loop=$nodes}
<tr class="{cycle values="odd,even"}">
    <td class="status">
    {if $nodes[node].online == 't'}
    <img src='{$smarty.const.BASE_URL_PATH}images/hotspot_status_up.png'>
    {else}
    <img src='{$smarty.const.BASE_URL_PATH}images/hotspot_status_down.png'>
    {$nodes[node].duration.days} {"days"|_} {$nodes[node].duration.hours}h {$nodes[node].duration.minutes}min<br />
    {/if}
    {$nodes[node].last_heartbeat_user_agent}
    </td>
    <td>{$nodes[node].node_id}</td>
    <td>{$nodes[node].name}</td>
    <td>
    <a href='{$smarty.const.BASE_SSL_PATH}login/index.php?gw_id={$nodes[node].node_id}&gw_address=127.0.0.1&gw_port=80'>{"Login page"|_}</a><br />
    <a href='{$smarty.const.BASE_URL_PATH}portal/index.php?gw_id={$nodes[node].node_id}'>{"Portal page"|_}</a>
    </td>
    <td>{$nodes[node].creation_date}</td>
    <td>
    {if $nodes[node].num_online_users != 0}
    {$nodes[node].num_online_users}
    {/if}
    </td>
</tr>
{/section}

</table>
</div>
