{if $selectNetworkUI}
<form name="hotspots_form" method="post">
        {$selectNetworkUI}
</form>
{/if}
<div id="node_list">
    {if $allNetworks }
        <h3>{"Status of all nodes on "|_} {$allNetworks}</h3>
    {else}
        {if $selectedNetwork}
            <h3>{"Status of all nodes of the "|_} {$selectedNetwork} {"network"|_}</h3>
        {else}
            <h3>{"Status of all nodes of the"|_} {$networkName} {"network"|_}</h3>
        {/if}
    {/if}
	<table>
		<thead>
		<tr>
			<th>
				<a href="?sort_by=last_heartbeat_user_agent">{"Status"|_}</a>
				{if $sort_by_param == "last_heartbeat_user_agent"}<img src="{$common_images_url}sort_by_asc.gif">{/if}
			</th>
			{* <th>
				<a href="?sort_by=node_id">{"Node id"|_}</a>
				{if $sort_by_param == "node_id"}<img src="{$common_images_url}sort_by_asc.gif">{/if}
			</th> *}
			<th>
				<a href="?sort_by=gw_id">{"Gateway id"|_}</a>
				{if $sort_by_param == "gw_id"}<img src="{$common_images_url}sort_by_asc.gif">{/if}
			</th>
			<th>
				<a href="?sort_by=name">{"Name"|_}</a>
				{if $sort_by_param == "name"}<img src="{$common_images_url}sort_by_asc.gif">{/if}
			</th>
			<th>{"Local content demo"|_}</th>
			<th>
				<a href="?sort_by=creation_date">{"Opened on"|_}</a>
				{if $sort_by_param == "creation_date"}<img src="{$common_images_url}sort_by_asc.gif">{/if}
			</th>
			<th>
				<a href="?sort_by=num_online_users">{"Online users"|_}</a>
				{if $sort_by_param == "num_online_users"}<img src="{$common_images_url}sort_by_asc.gif">{/if}
			</th>
		</tr>
		</thead>
	{section name=node loop=$nodes}
		<tr class="{cycle values="odd,even"}">
		    <td class="status">
		    {if $nodes[node].online == 't'}
		    <img src='{$common_images_url}HotspotStatus/up.gif'>
		    	{if $nodes[node].wifidog_uptime != ''}
		    		{$nodes[node].wifidog_uptime.days} {"days"|_} {$nodes[node].wifidog_uptime.hours}{"h"|_} {$nodes[node].wifidog_uptime.minutes}{"min"|_}<br />
		    	{/if}
		    {else}
		    <img src='{$common_images_url}HotspotStatus/down.gif'>
		    {$nodes[node].duration.days} {"days"|_} {$nodes[node].duration.hours}{"h"|_} {$nodes[node].duration.minutes}{"min"|_}<br />
		    {/if}
		    {$nodes[node].last_heartbeat_user_agent}
		    </td>
		    {* <td>{$nodes[node].node_id}</td> *}
		    <td>{$nodes[node].gw_id}</td>
		    <td>{$nodes[node].name}</td>
		    <td>
		    <a href='{$base_ssl_path}login/index.php?gw_id={$nodes[node].gw_id}&gw_address=127.0.0.1&gw_port=80'>{"Login page"|_}</a><br />
		    <a href='{$base_url_path}portal/?node_id={$nodes[node].node_id}'>{"Portal page"|_}</a>
		    {if $nodes[node].public_stats_file }
		   <br /><a target="_blank" href='{$base_public_stats_url}{$nodes[node].node_id}/{$nodes[node].public_stats_file}'>{"Statistics"|_}</a>
		    {/if}
		    </td>
		    <td style="font-size: 8pt;">{$nodes[node].creation_date}<br>
		    {$nodes[node].node_deployment_status}
		    </td>
		    <td>
		    {if $nodes[node].num_online_users != 0}
		    {$nodes[node].num_online_users}
		    {/if}
		    </td>
		</tr>
	{/section}
	</table>
</div>
