    <div id="form">
        <h3>{"Re-send validation email"|_}</h3>

        <form name="form">
        <table>
        {include file="templates/auth_sources_selection.html"}
        <tr>
            <td>{"Your username"|_}:</td>
            <td><input type="text" name="username" value="{$username}" size="20"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="submit" type="submit" name="submit" value="{"Re-send"|_}"></td>
        </tr>
        </table>
        </form>

    </div>
    
    <div id="help">
        {if $error}
        {$error}
        {else}
        {"Please enter your username and the validation email will be resent to your email address"|_}.
        {/if}
    </div>
