{include file="templates/header_small.html"}
<div id="signup">

    <div id="lang">
    {include file="templates/lang_menu.html"}
    </div>

    <div id="head">
        <a href="{$smarty.const.HOTSPOT_NETWORK_URL}"><img src="/local_content/common/head.gif" border="0"></a><br>
    </div>

    <div id="banner">
        {"FREE WIRELESS INTERNET"|_}
    </div>

    <div id="form">
        <h3>{"Re-send validation email"|_}</h3>

        <form name="form">
        <table>
        <tr>
            <td>{"Your username"|_}:</td>
            <td><input type="text" name="username" value="{$username}" size="20"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="submit" type="submit" name="submit" value="{"Re-send"|_}"></td>
        </tr>
        </table>
        </form>

    </div>
    
    <div id="help">
        {if $error}
        {$error}
        {else}
        {"Please enter your username and the validation email will be resent to your email address"|_}.
        {/if}
    </div>
</div>
