<fieldset class="pretty_fieldset">
<legend>{"Re-send validation email"|_}</legend>

        <form name="form">
        <table>
        {if $SelectNetworkUI}
        {$SelectNetworkUI}
        {/if}
        <tr>
            <td>{"Your username"|_}:</td>
            <td><input type="text" name="username" value="{$username}" size="20"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="submit" type="submit" name="submit" value="{"Re-send"|_}"></td>
        </tr>
        </table>
        </form>
</fieldset>
    
    <div id="help">
        {if $error}
        {$error}
        {else}
        {"Please enter your username and the validation email will be resent to your email address"|_}.
        {/if}
    </div>
