<fieldset class="pretty_fieldset">
        <legend>{"Register a free account with"|_} {$hotspot_network_name}</legend>

        <form name="signup_form" method="post">
        <table>
        {if $SelectNetworkUI}
        {$SelectNetworkUI}
        {/if}
        <tr>
            <th>{"Username desired"|_}:</th>
            <td><input type="text" name="username" value="{$username}" size="20"></td>
        </tr>
        <tr>
            <th>{"Your email address"|_}:</th>
            <td><input type="text" name="email" value="{$email}" size="30"></td>
        </tr>
        <tr>
            <th>{"Password"|_}:</th>
            <td><input type="password" name="password" size="20"></td>
        </tr>
        <tr>
            <th>{"Password (again)"|_}:</th>
            <td><input type="password" name="password_again" size="20"></td>
        </tr>
        <tr>
            <th></th>
            <td><input class="submit" type="submit" name="submit" value="{"Sign-up"|_}"></td>
        </tr>
        </table>
        </form>

</fieldset>
    
    <div id="help">
        {if $error}
        {$error}
        {else}
        {"Your email address must be valid in order for your account to be activated"|_}.
        {/if}
    </div>
