<p>Find more HotSpots</p>
<ul>
    <li><a href='{$smarty.const.BASE_URL_PATH}{$smarty.const.HOTSPOT_STATUS_PAGE}'>List of all HotSpots</a></li>
</ul>

<p>User management</p>
<ul>
    <li><a href='{$smarty.const.BASE_SSL_PATH}{$smarty.const.USER_MANAGEMENT_PAGE}?action=register_new_account_form'>Create new account</a></li>
    <li><a href='{$smarty.const.BASE_SSL_PATH}{$smarty.const.USER_MANAGEMENT_PAGE}?action=validation_email_form'>Re-send validation email</a></li>
    <li><a href='{$smarty.const.BASE_SSL_PATH}{$smarty.const.USER_MANAGEMENT_PAGE}?action=lost_username_form'>Lost username</a></li>
    <li><a href='{$smarty.const.BASE_SSL_PATH}{$smarty.const.USER_MANAGEMENT_PAGE}?action=lost_password_form'>Lost password</a></li>
    <li><a href='{$smarty.const.BASE_SSL_PATH}{$smarty.const.USER_MANAGEMENT_PAGE}?action=change_password_form'>Change password</a></li>
</ul>

<p class='sidenote'>Accounts on {$smarty.const.HOTSPOT_NETWORK_NAME} are and will remain <emp>totally free</emp>, use the left menu to create a new one or recover a lost username or password.</p>

<p class='sidenote'>Please report any problem or interruption in our service to: <a href='mailto:{$smarty.const.TECH_SUPPORT_EMAIL}'>{$smarty.const.TECH_SUPPORT_EMAIL}</a></p>
