<h4>{"Find more HotSpots"|_}</h4>
<ul>
    <li><a href='{$smarty.const.BASE_URL_PATH}{$hotspot_network_name}'>{"List of all HotSpots"|_}</a></li>
</ul>

<h4>{"User management"|_}</h4>
<ul>
{if !$auth_user}
    <li><a href='{$smarty.const.BASE_SSL_PATH}signup.php'>{"Create new account"|_}</a></li>
    <li><a href='{$smarty.const.BASE_SSL_PATH}resend_validation.php'>{"Re-send validation email"|_}</a></li>
    <li><a href='{$smarty.const.BASE_SSL_PATH}lost_username.php'>{"Lost username"|_}</a></li>
    <li><a href='{$smarty.const.BASE_SSL_PATH}lost_password.php'>{"Lost password"|_}</a></li>
{/if}
    <li><a href='{$smarty.const.BASE_SSL_PATH}change_password.php'>{"Change password"|_}</a></li>
</ul>

<p class='sidenote'>{"Accounts on"|_} {$hotspot_network_name} {"are and will remain <emp>totally free</emp>, use the left menu to create a new one or recover a lost username or password"|_}.</p>

<p class='sidenote'>{"Please report any problem or interruption in our service to"|_}: <a href='mailto:{$smarty.const.TECH_SUPPORT_EMAIL}'>{$smarty.const.TECH_SUPPORT_EMAIL}</a></p>
